body
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: $body-bg
	font-family: $altis-r
	content: "desktop"
	+at-breakpoint($break-1024)
		content: "ipad"
	&.no-scroll
		overflow: hidden
	&.inputFocus
		+at-breakpoint($break-1024)
			#header, #menu
				position: absolute
			.gform_wrapper, .search, .menu-container
				&:before
					content: ''
					position: fixed
					top: 0
					left: 0
					right: 0
					bottom: 0
					background: transparent
					width: 100%
					height: 100%


a
	color: $text-color
	text-decoration: underline
	outline: none
	&:hover
		text-decoration: none
i, em
	font-family: $altis-i
strong, b
	font-family: $altis-b

.global-wrap
	overflow: hidden
	min-width: 320px
	width: 100%
	position: relative
	+transition
	&.menu-open
		#header,.page-container
			+translateX(-413px)
			+at-breakpoint($break-479)
				+translateX(-270px)



	

.wrapper
	width: 100%
	margin: auto
	position: relative
	max-width: 1190px
	min-width: 320px
	padding: 0 20px
	+box-sizing(border-box)


.page-container
	padding-top: 122px
	+transition(transform 1s)
	+box-sizing(border-box)
	+at-breakpoint($break-767)
		padding-top: 92px


.overlay
	display: none
	position: fixed
	top: 66px
	right: 0
	bottom: 0
	left: 0
	z-index: 2000
	background: image-url('overlay.png')
	&.open
		display: block



/*Admin-bar*/

.admin-bar
	#header, #menu
		top: 32px
		+at-breakpoint(12 782px)
			top: 46px

#wpadminbar
	+at-breakpoint(12 600px)
		position: fixed
