// @charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src: font-url("icon-font.eot");
  src: font-url("icon-font.eot?#iefix") format("embedded-opentype"),
    font-url("icon-font.woff") format("woff"),
    font-url("icon-font.ttf") format("truetype"),
    font-url("icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

.icon{
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "a"!important;
  @extend .icon;
}
.icon-facebook:before {
  content: "b"!important;
  @extend .icon;
}
.icon-twitter:before {
  content: "c"!important;
  @extend .icon;
}
