@import constants
#menu
	right: -413px
	&.menu-open
		right: 0

.global-wrap
	&.menu-open
		left: -413px
		#header
			left: -413px


.menu-close
	&:after
		display: none
	&:before
		content: "\00D7"
		color: $menu-color
		width: 0
		height: 0
		font-size: 40px
		top: -9px
		left: 0px