.content
	display: block
	width: 100%	
	+box-sizing(border-box)
	font-size: 0
	&.no-sidebar
		.container
			width: 100%
		aside
			display: none
			
.container
	display: inline-block
	vertical-align: top
	width: 76.7%
	min-height: 1px
	position: relative
	z-index: 1
	+box-sizing(border-box)
	+at-breakpoint($break-1023)
		width: 65%
	+at-breakpoint($break-767)
		display: block
		width: 100%
aside
	display: inline-block
	vertical-align: top
	position: relative
	width: 23.3%
	height: 100%
	+box-sizing(border-box)
	+at-breakpoint($break-1023)
		width: 35%
	+at-breakpoint($break-767)
		height: auto!important
		min-height: 0!important
		display: block
		width: 100%
		+box-sizing(border-box)

.page-content
	padding-right: 26px
	position: relative
	+pie-clearfix
	+at-breakpoint($break-767)
		padding-right: 0
		margin-bottom: 26px
	&.with-white-bg
		background: #fff
		padding: 55px 51px 78px
		+at-breakpoint($break-479)
			padding: 40px 20px 48px
	


@import content/video
@import content/columns
@import content/post
@import content/quote
@import content/link-box
@import content/widgets
@import content/socials
@import content/related-articles
@import content/show-more
@import content/event-widget
@import content/gform
@import content/questions
@import content/contacts
@import content/search

