#footer
	margin-top: 26px
	background: #fff
	padding: 91px 0 94px
	letter-spacing: 0.3px
	width: 100%
	+at-breakpoint($break-1023)
		padding: 70px 0
	+at-breakpoint($break-767)
		padding: 50px 0

.footer-widget
	font-size: 18px
	line-height: 34px
	color: $footer-color
	display: inline-block
	vertical-align: top
	width: 33.8%
	+at-breakpoint($break-1023)
		width: 50%
		display: block
		margin-bottom: 30px
	+at-breakpoint($break-767)
		width: 100%
		font-size: 16px
		line-height: 30px
	p
		font-family: $altis-book
	a
		color: $footer-color
		text-decoration: none
		&:hover
			text-decoration: underline


.footer-partners
	display: block
	position: absolute
	right: 19px
	top: 9px
	color: $text-color
	font-family: $altis-i
	font-size: 12px
	background: $grey-bg-light
	padding: 25px 30px 6px
	text-align: justify
	+at-breakpoint($break-1023)
		top: 210px
	+at-breakpoint($break-767)
		top: auto
		bottom: 0
		padding: 25px 25px 6px
	&:after
		content: ''
		display: inline-block
		width: 100%
		height: 0
		vertical-align: top
	p
		text-align: center
		letter-spacing: 0.1px
		margin-bottom: 22px
	img
		display: inline-block
		vertical-align: middle
		margin-left: 3px
		margin-bottom: 10px
		+transition(opacity 0.5s)
		&:hover
			+opacity(0.6)

.footer-logo
	display: block
	width: 103px
	position: absolute
	right: 244px
	top: 19px
	+transition(opacity 0.5s)
	+at-breakpoint($break-1023)
		right: 59px
		top: 15px
	+at-breakpoint($break-767)
		position: static
	&:hover
		+opacity(0.6)
	img
		max-width: 100%