#header
	width: 100%
	height: 96px
	background: #fff
	padding: 0 125px
	+box-sizing(border-box)
	color: $header-color
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 1000
	+transition(transform 1s)
	.wrapper
		padding: 0 30px
		max-width: 100%	
	+at-breakpoint($break-767)
		height: 66px
		padding: 0
		.wrapper
			padding: 0 95px
			max-width: 100%
		.logo
			width: 43px
			top: 12px
			left: 20px
			padding: 3px 14px 4px 0
		.logo-text
			padding-top: 10px
			p
				font-size: 12px
				letter-spacing: 0.4px
				&:first-child
					letter-spacing: 0.5px
					font-size: 15px
					margin-bottom: 8px
		.header-menu
			font-size: 11px
			width: 27px
			right: 20px
			top: 15px
			&:before
				top: 11px
				right: -20px
			p
				margin-left: 0
		.header-menu-icon
			width: 27px
			height: 3px
			margin-bottom: 10px
			&:before
				top: -7px
			&:after
				top: 7px
	+at-breakpoint($break-479)
		.logo-text
			padding-top: 19px
			p
				display: none
				&:first-child
					display: block
					font-size: 14px
					letter-spacing: 0.2px
					
	&.sticky
		height: 66px
		padding: 0
		.wrapper
			padding: 0 95px
			max-width: 100%
		.logo
			width: 43px
			top: 12px
			left: 20px
			padding: 3px 14px 4px 0
		.logo-text
			padding-top: 10px
			+at-breakpoint($break-479)
				padding-top: 19px
			p
				font-size: 14px
				letter-spacing: 0.4px
				+at-breakpoint($break-767)
					font-size: 12px
				+at-breakpoint($break-479)
					display: none
				&:first-child
					letter-spacing: 0.5px
					font-size: 20px
					margin-bottom: 8px
					+at-breakpoint($break-767)
						font-size: 15px
					+at-breakpoint($break-479)
						display: block
						font-size: 14px
						letter-spacing: 0.2px
		.header-menu
			font-size: 11px
			width: 27px
			right: 20px
			top: 15px
			&:before
				top: 11px
				right: -20px
			p
				margin-left: 0
		.header-menu-icon
			width: 27px
			height: 3px
			margin-bottom: 10px
			&:before
				top: -7px
			&:after
				top: 7px
		
	
.logo
	width: 67px
	display: block
	padding-right: 26px
	border-right: 1px solid #d6d6d6
	position: absolute
	z-index: 2
	top: 20px
	left: 35px
	+transition(opacity 0.5s)
	&:hover
		+opacity(0.6)
	img
		display: block
		max-width: 100%

.header-menu
	position: absolute
	z-index: 2
	right: 36px
	top: 26px
	padding-top: 1px
	cursor: pointer
	font-size: 13px
	width: 32px
	&:before
		font-size: 0
		content: ''
		display: none
		position: absolute
		top: 13px
		right: -36px
		border-right: 8px solid  $header-color
		border-top: 7px solid transparent
		border-bottom: 7px solid transparent
	p
		+transition(opacity 0.5s)
		margin-left: 1px
	&:hover
		.header-menu-icon,p
			opacity: 0.6
	&.menu-open
		&:before
			display: block

.header-menu-icon
	+transition(opacity 0.5s)
	width: 32px
	height: 4px
	position: relative
	background-color: $header-color
	margin: 9px 0 15px
	&:before, &:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 0
		background-color: $header-color
		top: -9px
	&:after
		top: 9px

.logo-text
	padding-top: 22px
	+at-breakpoint($break-767)
		padding-top: 15px
	p
		font-size: 17px
		font-family: $altis-book-i
		margin-bottom: 9px
		letter-spacing: 0.5px
		+at-breakpoint($break-1023)
			font-size: 14px	
		+at-breakpoint($break-767)
			font-size: 11px
		&:first-child
			font-size: 26px
			font-family: $altis-m
			letter-spacing: 0.7px
			+at-breakpoint($break-1023)
				font-size: 24px
			+at-breakpoint($break-767)
				font-size: 17px
				





	