#menu
	position: fixed
	z-index: 2001
	right: 0
	+translateX(413px)
	top: 0
	width: 413px
	height: 100%
	background: $header-color
	padding: 63px 60px 60px 40px
	+transition(transform 1s)
	+box-sizing(border-box)	
	overflow: auto
	+at-breakpoint($break-479)
		width: 270px
		+box-sizing(border-box)
		+translateX(270px)
		padding: 45px 30px

	&.menu-open
		+translateX(0)
	a
		color: $menu-color
		font-size: 18px
		line-height: 28px
		display: block
		text-decoration: none
		margin-bottom: 12px
		+at-breakpoint($break-479)
			font-size: 16px
			line-height: 24px
		&:hover
			text-decoration: underline
		&.current_page_item
			color: #fff
			&:hover
				text-decoration: none

.menu-close
	margin: 0
	position: absolute
	top: 22px
	right: 22px
	width: 18px
	height: 18px
	cursor: pointer
	+at-breakpoint($break-479)
		top: 15px
		right: 15px
	&:before, &:after
		content: ''
		position: absolute
		z-index: 1
		top: -2px
		left: 8px
		width: 2px
		height: 22px
		background: $menu-color
		background: rgba($menu-color, 0.7)
		+rotate(45deg)
		+transition(transform 0.2s)
	&:after
		+rotate(-45deg)
	&:hover
		&:before
			+rotate(-45deg)
		&:after
			+rotate(45deg)




#menu-search
	position: relative
	// width: 100%
	margin-bottom: 33px
	background: $menu-search-bg
	font-size: 18px
	line-height: 18px
	input
		+appearance(none)
		border: none
	input[type=search]
		+box-sizing(border-box)
		position: relative
		z-index: 1
		background: transparent
		width: 78%
		height: 50px
		color: $menu-color
		color: rgba($menu-color, 0.7)
		padding: 16px 0px 13px 0px
		left: 18px
		font-size: 18px
		line-height: 18px
		+at-breakpoint($break-479)
			width: 67%
		&::-ms-clear
			display: none
		&::-webkit-search-cancel-button
			display: none
		+placeholder
			color: $menu-color
			color: rgba($menu-color, 0.7)
			font-size: 18px
			padding-top: 0.5px
		&:-ms-input-placeholder
			padding-top: 16px
		&.placeholder
			padding-top: 17px
			


	input[type=submit]
		+icon(search)
		position: absolute
		z-index: 2
		right: 18px
		top: 18px		
		cursor: pointer
		color: transparent
		text-indent: -10000px

