.button
	font-size: 18px
	line-height: 20px
	padding: 17px 40px 21px
	background: $btn-color
	color: #fff
	+border-radius(6px)
	display: inline-block
	width: auto
	height: auto
	cursor: pointer
	+transition(background 0.5s)
	&:hover,
	&:active
		background: darken($btn-color, 10%)
