.content
    font-size: $content-text-f-s
    line-height: $content-text-l-h
    word-wrap: break-word
    p
        font-family: $altis-book
        font-size: $content-text-f-s
        line-height: $content-text-l-h
        margin-bottom: $content-text-l-h
        +at-breakpoint($break-767)
            font-size: 16px
            line-height: 20px
            margin-bottom: 15px
    h1
        font-size: 40px
        line-height: 52px
        font-family: $altis-book
        margin-bottom: 35px
        +at-breakpoint($break-767)
            font-size: 30px
            line-height: 38px
            margin-bottom: 20px

    h2
        font-size: 32px
        line-height: 52px
        font-family: $altis-book
        margin-bottom: 6px
        +at-breakpoint($break-767)
            font-size: 24px
            line-height: 30px
    h3
        font-size: 26px
        line-height: 40px
        font-family: $altis-book
        +at-breakpoint($break-767)
            font-size: 22px
            line-height: 30px
    h4
        font-size: 24px
        line-height: 38px
        font-family: $altis-m
        margin-bottom: 58px
        +at-breakpoint($break-767)
            font-size: 20px
            line-height: 30px
            margin-bottom: 35px
    h5
        font-size: 20px
        line-height: 30px
        +at-breakpoint($break-767)
            font-size: 16px
            line-height: 24px
    h6
        font-size: 18px
        line-height: 24px
        +at-breakpoint($break-767)
            font-size: 14px
            line-height: 19px
    ul
        margin-left: 0
        list-style: disc inside
        margin-bottom: $text-line-height
    ol
        list-style: decimal inside
        margin-left: 0
        margin-bottom: $text-line-height
    i, em
        font-family: $altis-i
    strong, b
        font-family: $altis-b

    sup, sub
        font-size: 75%
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.25em
    
    table
        width: 100%
        th
            text-align: left
    img
        max-width: 100%
        height: auto
        display: block
    dl
        margin-bottom: $text-line-height
    dt 
        font-family: $altis-b

    dd
        margin-bottom: $text-line-height

    blockquote
        color: $text-color
        font-size: 22px
        line-height: 34px
        font-family: $altis-i
        padding: 0 28px
        margin: 49px auto
        text-align: center
        +at-breakpoint($break-767)
            font-size: 18px
            line-height: 24px
            margin: 39px auto
        &:before
            content: ''
            +icon(quote)
            margin: 0 auto 31px
            +at-breakpoint($break-767)
                margin-bottom: 10px

    // hr
    //     display: block
    //     height: 1px
    //     background: $body-bg