/* line 2, ../sass/ie.sass */
#menu {
  right: -413px;
}
/* line 4, ../sass/ie.sass */
#menu.menu-open {
  right: 0;
}

/* line 8, ../sass/ie.sass */
.global-wrap.menu-open {
  left: -413px;
}
/* line 10, ../sass/ie.sass */
.global-wrap.menu-open #header {
  left: -413px;
}

/* line 15, ../sass/ie.sass */
.menu-close:after {
  display: none;
}
/* line 17, ../sass/ie.sass */
.menu-close:before {
  content: "\00D7";
  color: #c2c2c2;
  width: 0;
  height: 0;
  font-size: 40px;
  top: -9px;
  left: 0px;
}
