@media print {
  /* line 2, ../sass/print.sass */
  body {
    background: none !important;
    /* Brute force since user agents all print differently. */
    color: #2b2b2b;
    font-size: 12pt;
  }

  /* line 7, ../sass/print.sass */
  .site,
  .site-header,
  .hentry,
  .site-content .entry-header,
  .site-content .entry-content,
  .site-content .entry-summary,
  .site-content .entry-meta,
  .page-content,
  .archive-header,
  .page-header,
  .contributor-info,
  .comments-area,
  .attachment .entry-attachment .attachment {
    max-width: 100%;
  }

  /* line 21, ../sass/print.sass */
  #site-header img,
  .search-toggle,
  .site-navigation,
  .site-content nav,
  .edit-link,
  .page-links,
  .widget-area,
  .more-link,
  .post-format-archive-link,
  .comment-respond,
  .comment-list .reply,
  .comment-reply-login,
  #secondary,
  .site-footer,
  .slider-control-paging,
  .slider-direction-nav {
    display: none;
  }

  /* line 38, ../sass/print.sass */
  .site-title a,
  .entry-meta,
  .entry-meta a,
  .featured-content .hentry,
  .featured-content a {
    color: #2b2b2b;
  }

  /* line 44, ../sass/print.sass */
  .entry-content a,
  .entry-summary a,
  .page-content a,
  .comment-content a {
    text-decoration: none;
  }

  /* line 49, ../sass/print.sass */
  .site-header,
  .post-thumbnail,
  a.post-thumbnail:hover,
  .site-content .entry-header,
  .site-footer,
  .featured-content,
  .featured-content .entry-header {
    background: transparent;
  }

  /* line 57, ../sass/print.sass */
  .header-main {
    padding: 48px 10px;
  }

  /* line 59, ../sass/print.sass */
  .site-title {
    float: none;
    font-size: 19pt;
  }

  /* line 62, ../sass/print.sass */
  .content-area {
    padding-top: 0;
  }

  /* line 64, ../sass/print.sass */
  .list-view .site-content .hentry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 48px;
    padding-bottom: 24px;
  }

  /* line 68, ../sass/print.sass */
  .post-thumbnail img {
    margin: 0 10px 24px;
  }

  /* line 70, ../sass/print.sass */
  .site-content .has-post-thumbnail .entry-header {
    padding-top: 0;
  }

  /* line 72, ../sass/print.sass */
  .site-content footer.entry-meta {
    margin: 24px auto;
  }

  /* line 74, ../sass/print.sass */
  .entry-meta .tag-links a {
    color: white;
  }

  /* line 76, ../sass/print.sass */
  .singular .site-content .hentry.has-post-thumbnail {
    margin-top: 0;
  }

  /* line 78, ../sass/print.sass */
  .gallery-columns-1.gallery-size-medium,
  .gallery-columns-1.gallery-size-thumbnail,
  .gallery-columns-2.gallery-size-thumbnail,
  .gallery-columns-3.gallery-size-thumbnail {
    display: block;
  }

  /* line 83, ../sass/print.sass */
  .archive-title,
  .page-title {
    margin: 0 10px 48px;
  }

  /* line 86, ../sass/print.sass */
  .featured-content .hentry {
    margin-bottom: 48px;
  }

  /* line 88, ../sass/print.sass */
  .featured-content .post-thumbnail,
  .slider .featured-content .post-thumbnail {
    padding-top: 0;
  }

  /* line 91, ../sass/print.sass */
  .featured-content .post-thumbnail img {
    position: relative;
  }

  /* line 93, ../sass/print.sass */
  .featured-content .entry-header {
    padding: 0 10px 24px;
  }

  /* line 95, ../sass/print.sass */
  .featured-content .entry-meta {
    font-size: 9pt;
    margin-bottom: 11px;
  }

  /* line 98, ../sass/print.sass */
  .featured-content .cat-links {
    font-weight: 900;
  }

  /* line 100, ../sass/print.sass */
  .featured-content .entry-title {
    font-size: 25pt;
    line-height: 36px;
  }
}
