/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_reset.sass */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 4, ../sass/_reset.sass */
input,
button,
textarea {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}
/* line 13, ../sass/_reset.sass */
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* line 17, ../sass/_reset.sass */
input:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 20, ../sass/_reset.sass */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 24, ../sass/_reset.sass */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 25, 2014 */
@font-face {
  font-family: 'altislight_italic';
  src: url('../fonts/altis-lightitalic-webfont.eot');
  src: url('../fonts/altis-lightitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-lightitalic-webfont.woff2') format("woff2"), url('../fonts/altis-lightitalic-webfont.woff') format("woff"), url('../fonts/altis-lightitalic-webfont.ttf') format("truetype"), url('../fonts/altis-lightitalic-webfont.svg#altislight_italic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altismedium';
  src: url('../fonts/altis-medium-webfont.eot');
  src: url('../fonts/altis-medium-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-medium-webfont.woff2') format("woff2"), url('../fonts/altis-medium-webfont.woff') format("woff"), url('../fonts/altis-medium-webfont.ttf') format("truetype"), url('../fonts/altis-medium-webfont.svg#altismedium') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisbook';
  src: url('../fonts/altis-book-webfont.eot');
  src: url('../fonts/altis-book-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-book-webfont.woff2') format("woff2"), url('../fonts/altis-book-webfont.woff') format("woff"), url('../fonts/altis-book-webfont.ttf') format("truetype"), url('../fonts/altis-book-webfont.svg#altisbook') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisitalic';
  src: url('../fonts/altis-regularitalic-webfont.eot');
  src: url('../fonts/altis-regularitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-regularitalic-webfont.woff2') format("woff2"), url('../fonts/altis-regularitalic-webfont.woff') format("woff"), url('../fonts/altis-regularitalic-webfont.ttf') format("truetype"), url('../fonts/altis-regularitalic-webfont.svg#altisitalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisbold';
  src: url('../fonts/altis-bold-webfont.eot');
  src: url('../fonts/altis-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-bold-webfont.woff2') format("woff2"), url('../fonts/altis-bold-webfont.woff') format("woff"), url('../fonts/altis-bold-webfont.ttf') format("truetype"), url('../fonts/altis-bold-webfont.svg#altisbold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisregular';
  src: url('../fonts/altis-regular-webfont.eot');
  src: url('../fonts/altis-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-regular-webfont.woff2') format("woff2"), url('../fonts/altis-regular-webfont.woff') format("woff"), url('../fonts/altis-regular-webfont.ttf') format("truetype"), url('../fonts/altis-regular-webfont.svg#altisregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altismedium_italic';
  src: url('../fonts/altis-mediumitalic-webfont.eot');
  src: url('../fonts/altis-mediumitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-mediumitalic-webfont.woff2') format("woff2"), url('../fonts/altis-mediumitalic-webfont.woff') format("woff"), url('../fonts/altis-mediumitalic-webfont.ttf') format("truetype"), url('../fonts/altis-mediumitalic-webfont.svg#altismedium_italic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisbold_italic';
  src: url('../fonts/altis-bolditalic-webfont.eot');
  src: url('../fonts/altis-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-bolditalic-webfont.woff2') format("woff2"), url('../fonts/altis-bolditalic-webfont.woff') format("woff"), url('../fonts/altis-bolditalic-webfont.ttf') format("truetype"), url('../fonts/altis-bolditalic-webfont.svg#altisbold_italic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisbook_italic';
  src: url('../fonts/altis-bookitalic-webfont.eot');
  src: url('../fonts/altis-bookitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-bookitalic-webfont.woff2') format("woff2"), url('../fonts/altis-bookitalic-webfont.woff') format("woff"), url('../fonts/altis-bookitalic-webfont.ttf') format("truetype"), url('../fonts/altis-bookitalic-webfont.svg#altisbook_italic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altislight';
  src: url('../fonts/altis-light-webfont.eot');
  src: url('../fonts/altis-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/altis-light-webfont.woff2') format("woff2"), url('../fonts/altis-light-webfont.woff') format("woff"), url('../fonts/altis-light-webfont.ttf') format("truetype"), url('../fonts/altis-light-webfont.svg#altislight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icon-font";
  src: url('../fonts/icon-font.eot');
  src: url('../fonts/icon-font.eot?#iefix') format("embedded-opentype"), url('../fonts/icon-font.woff') format("woff"), url('../fonts/icon-font.ttf') format("truetype"), url('../fonts/icon-font.svg#icon-font') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/_icons.scss */
.icon, .icon-mail:before, .socials .mail:before, .icon-facebook:before, .socials .facebook:before, .icon-twitter:before, .socials .twitter:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_icons.scss */
.icon-mail:before, .socials .mail:before {
  content: "a" !important;
}

/* line 31, ../sass/_icons.scss */
.icon-facebook:before, .socials .facebook:before {
  content: "b" !important;
}

/* line 35, ../sass/_icons.scss */
.icon-twitter:before, .socials .twitter:before {
  content: "c" !important;
}

/* line 66, icons/*.png */
.icons-sprite {
  background: url('../images/icons-sac619f058b.png') no-repeat;
}

/* line 66, icons2x/*.png */
.icons2x-sprite {
  background: url('../images/icons2x-s45de61114c.png') no-repeat;
}

/* line 1, ../sass/helpers/_wordpress.sass */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 4, ../sass/helpers/_wordpress.sass */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 9, ../sass/helpers/_wordpress.sass */
.alignright {
  float: right;
  margin: 5px 0 24px 24px;
}
/* line 13, ../sass/helpers/_wordpress.sass */
.alignright.wp-caption img {
  width: 100%;
  height: auto;
}
/* line 16, ../sass/helpers/_wordpress.sass */
.alignright.wp-caption .wp-caption-text {
  margin-top: 15px;
  width: 100%;
}

/* line 20, ../sass/helpers/_wordpress.sass */
.alignleft {
  float: left;
  margin: 5px 24px 24px 0;
}
/* line 24, ../sass/helpers/_wordpress.sass */
.alignleft.wp-caption img {
  width: 100%;
  height: auto;
}
/* line 27, ../sass/helpers/_wordpress.sass */
.alignleft.wp-caption .wp-caption-text {
  margin-top: 15px;
  width: 100%;
}

/* line 31, ../sass/helpers/_wordpress.sass */
.aligncenter {
  display: block;
  clear: both;
  margin: 5px auto 5px auto;
}

/* line 36, ../sass/helpers/_wordpress.sass */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 40, ../sass/helpers/_wordpress.sass */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 43, ../sass/helpers/_wordpress.sass */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 47, ../sass/helpers/_wordpress.sass */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 56, ../sass/helpers/_wordpress.sass */
.wp-caption {
  margin: 47px 0 41px;
  font-size: 0;
  width: auto !important;
}
@media (max-width: 767px) {
  /* line 56, ../sass/helpers/_wordpress.sass */
  .wp-caption {
    margin: 37px 0 31px;
  }
}

/* line 63, ../sass/helpers/_wordpress.sass */
.wp-caption img {
  margin-bottom: 19px;
  width: auto !important;
}

/* line 67, ../sass/helpers/_wordpress.sass */
.wp-caption p.wp-caption-text {
  font-size: 16px;
  line-height: 26px;
  font-family: "altisbook_italic", sans-serif;
  color: black;
  margin: 19px 0;
  letter-spacing: -0.2px;
}

/* line 76, ../sass/helpers/_wordpress.sass */
h4 + .wp-caption {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  /* line 76, ../sass/helpers/_wordpress.sass */
  h4 + .wp-caption {
    margin-bottom: 40px;
  }
}

/* line 1, ../sass/components/_content.sass */
.content {
  font-size: 20px;
  line-height: 30px;
  word-wrap: break-word;
}
/* line 5, ../sass/components/_content.sass */
.content p {
  font-family: "altisbook", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 5, ../sass/components/_content.sass */
  .content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
/* line 14, ../sass/components/_content.sass */
.content h1 {
  font-size: 40px;
  line-height: 52px;
  font-family: "altisbook", sans-serif;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  /* line 14, ../sass/components/_content.sass */
  .content h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
/* line 24, ../sass/components/_content.sass */
.content h2 {
  font-size: 32px;
  line-height: 52px;
  font-family: "altisbook", sans-serif;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  /* line 24, ../sass/components/_content.sass */
  .content h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
/* line 32, ../sass/components/_content.sass */
.content h3 {
  font-size: 26px;
  line-height: 40px;
  font-family: "altisbook", sans-serif;
}
@media (max-width: 767px) {
  /* line 32, ../sass/components/_content.sass */
  .content h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
/* line 39, ../sass/components/_content.sass */
.content h4 {
  font-size: 24px;
  line-height: 38px;
  font-family: "altismedium", sans-serif;
  margin-bottom: 58px;
}
@media (max-width: 767px) {
  /* line 39, ../sass/components/_content.sass */
  .content h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}
/* line 48, ../sass/components/_content.sass */
.content h5 {
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 767px) {
  /* line 48, ../sass/components/_content.sass */
  .content h5 {
    font-size: 16px;
    line-height: 24px;
  }
}
/* line 54, ../sass/components/_content.sass */
.content h6 {
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 767px) {
  /* line 54, ../sass/components/_content.sass */
  .content h6 {
    font-size: 14px;
    line-height: 19px;
  }
}
/* line 60, ../sass/components/_content.sass */
.content ul {
  margin-left: 0;
  list-style: disc inside;
  margin-bottom: 24px;
}
/* line 64, ../sass/components/_content.sass */
.content ol {
  list-style: decimal inside;
  margin-left: 0;
  margin-bottom: 24px;
}
/* line 68, ../sass/components/_content.sass */
.content i, .content em {
  font-family: "altisitalic", sans-serif;
}
/* line 70, ../sass/components/_content.sass */
.content strong, .content b {
  font-family: "altisbold", sans-serif;
}
/* line 73, ../sass/components/_content.sass */
.content sup, .content sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 78, ../sass/components/_content.sass */
.content sup {
  top: -0.5em;
}
/* line 80, ../sass/components/_content.sass */
.content sub {
  bottom: -0.25em;
}
/* line 83, ../sass/components/_content.sass */
.content table {
  width: 100%;
}
/* line 85, ../sass/components/_content.sass */
.content table th {
  text-align: left;
}
/* line 87, ../sass/components/_content.sass */
.content img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* line 91, ../sass/components/_content.sass */
.content dl {
  margin-bottom: 24px;
}
/* line 93, ../sass/components/_content.sass */
.content dt {
  font-family: "altisbold", sans-serif;
}
/* line 96, ../sass/components/_content.sass */
.content dd {
  margin-bottom: 24px;
}
/* line 99, ../sass/components/_content.sass */
.content blockquote {
  color: black;
  font-size: 22px;
  line-height: 34px;
  font-family: "altisitalic", sans-serif;
  padding: 0 28px;
  margin: 49px auto;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 99, ../sass/components/_content.sass */
  .content blockquote {
    font-size: 18px;
    line-height: 24px;
    margin: 39px auto;
  }
}
/* line 111, ../sass/components/_content.sass */
.content blockquote:before {
  content: "";
  display: block;
  width: 86px;
  height: 60px;
  background: transparent url('../images/icons-s76c2ca9fea.png') 0 0 no-repeat;
  margin: 0 auto 31px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 111, ../sass/components/_content.sass */
  .content blockquote:before {
    background-image: url('../images/icons2x-se481caff75.png');
    -webkit-background-size: 85px auto;
    -moz-background-size: 85px auto;
    -o-background-size: 85px auto;
    background-size: 85px auto;
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  /* line 111, ../sass/components/_content.sass */
  .content blockquote:before {
    margin-bottom: 10px;
  }
}

/* line 1, ../sass/components/_button.sass */
.button, .gform_wrapper .button {
  font-size: 18px;
  line-height: 20px;
  padding: 17px 40px 21px;
  background: #ea2c2d;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 13, ../sass/components/_button.sass */
.button:hover, .button:active {
  background: #ce1516;
}

/* line 1, ../sass/_base.sass */
body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #dfdcdb;
  font-family: "altisregular", sans-serif;
  content: "desktop";
}
@media (max-width: 1024px) {
  /* line 1, ../sass/_base.sass */
  body {
    content: "ipad";
  }
}
/* line 12, ../sass/_base.sass */
body.no-scroll {
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 16, ../sass/_base.sass */
  body.inputFocus #header, body.inputFocus #menu {
    position: absolute;
  }
  /* line 19, ../sass/_base.sass */
  body.inputFocus .gform_wrapper:before, body.inputFocus .search:before, body.inputFocus .menu-container:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    width: 100%;
    height: 100%;
  }
}

/* line 31, ../sass/_base.sass */
a {
  color: black;
  text-decoration: underline;
  outline: none;
}
/* line 35, ../sass/_base.sass */
a:hover {
  text-decoration: none;
}

/* line 37, ../sass/_base.sass */
i, em {
  font-family: "altisitalic", sans-serif;
}

/* line 39, ../sass/_base.sass */
strong, b {
  font-family: "altisbold", sans-serif;
}

/* line 42, ../sass/_base.sass */
.global-wrap {
  overflow: hidden;
  min-width: 320px;
  width: 100%;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 49, ../sass/_base.sass */
.global-wrap.menu-open #header, .global-wrap.menu-open .page-container {
  -webkit-transform: translateX(-413px);
  -moz-transform: translateX(-413px);
  -ms-transform: translateX(-413px);
  -o-transform: translateX(-413px);
  transform: translateX(-413px);
}
@media (max-width: 479px) {
  /* line 49, ../sass/_base.sass */
  .global-wrap.menu-open #header, .global-wrap.menu-open .page-container {
    -webkit-transform: translateX(-270px);
    -moz-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    -o-transform: translateX(-270px);
    transform: translateX(-270px);
  }
}

/* line 58, ../sass/_base.sass */
.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 1190px;
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 68, ../sass/_base.sass */
.page-container {
  padding-top: 122px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 68, ../sass/_base.sass */
  .page-container {
    padding-top: 92px;
  }
}

/* line 76, ../sass/_base.sass */
.overlay {
  display: none;
  position: fixed;
  top: 66px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: url('../images/overlay.png?1412599943');
}
/* line 85, ../sass/_base.sass */
.overlay.open {
  display: block;
}

/*Admin-bar */
/* line 93, ../sass/_base.sass */
.admin-bar #header, .admin-bar #menu {
  top: 32px;
}
@media (max-width: 782px) {
  /* line 93, ../sass/_base.sass */
  .admin-bar #header, .admin-bar #menu {
    top: 46px;
  }
}

@media (max-width: 600px) {
  /* line 98, ../sass/_base.sass */
  #wpadminbar {
    position: fixed;
  }
}

/* line 1, ../sass/layouts/partials/_header.sass */
#header {
  width: 100%;
  height: 96px;
  background: white;
  padding: 0 125px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #363636;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
/* line 14, ../sass/layouts/partials/_header.sass */
#header .wrapper {
  padding: 0 30px;
  max-width: 100%;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/_header.sass */
  #header {
    height: 66px;
    padding: 0;
  }
  /* line 20, ../sass/layouts/partials/_header.sass */
  #header .wrapper {
    padding: 0 95px;
    max-width: 100%;
  }
  /* line 23, ../sass/layouts/partials/_header.sass */
  #header .logo {
    width: 43px;
    top: 12px;
    left: 20px;
    padding: 3px 14px 4px 0;
  }
  /* line 28, ../sass/layouts/partials/_header.sass */
  #header .logo-text {
    padding-top: 10px;
  }
  /* line 30, ../sass/layouts/partials/_header.sass */
  #header .logo-text p {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  /* line 33, ../sass/layouts/partials/_header.sass */
  #header .logo-text p:first-child {
    letter-spacing: 0.5px;
    font-size: 15px;
    margin-bottom: 8px;
  }
  /* line 37, ../sass/layouts/partials/_header.sass */
  #header .header-menu {
    font-size: 11px;
    width: 27px;
    right: 20px;
    top: 15px;
  }
  /* line 42, ../sass/layouts/partials/_header.sass */
  #header .header-menu:before {
    top: 11px;
    right: -20px;
  }
  /* line 45, ../sass/layouts/partials/_header.sass */
  #header .header-menu p {
    margin-left: 0;
  }
  /* line 47, ../sass/layouts/partials/_header.sass */
  #header .header-menu-icon {
    width: 27px;
    height: 3px;
    margin-bottom: 10px;
  }
  /* line 51, ../sass/layouts/partials/_header.sass */
  #header .header-menu-icon:before {
    top: -7px;
  }
  /* line 53, ../sass/layouts/partials/_header.sass */
  #header .header-menu-icon:after {
    top: 7px;
  }
}
@media (max-width: 479px) {
  /* line 56, ../sass/layouts/partials/_header.sass */
  #header .logo-text {
    padding-top: 19px;
  }
  /* line 58, ../sass/layouts/partials/_header.sass */
  #header .logo-text p {
    display: none;
  }
  /* line 60, ../sass/layouts/partials/_header.sass */
  #header .logo-text p:first-child {
    display: block;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}
/* line 65, ../sass/layouts/partials/_header.sass */
#header.sticky {
  height: 66px;
  padding: 0;
}
/* line 68, ../sass/layouts/partials/_header.sass */
#header.sticky .wrapper {
  padding: 0 95px;
  max-width: 100%;
}
/* line 71, ../sass/layouts/partials/_header.sass */
#header.sticky .logo {
  width: 43px;
  top: 12px;
  left: 20px;
  padding: 3px 14px 4px 0;
}
/* line 76, ../sass/layouts/partials/_header.sass */
#header.sticky .logo-text {
  padding-top: 10px;
}
@media (max-width: 479px) {
  /* line 76, ../sass/layouts/partials/_header.sass */
  #header.sticky .logo-text {
    padding-top: 19px;
  }
}
/* line 80, ../sass/layouts/partials/_header.sass */
#header.sticky .logo-text p {
  font-size: 14px;
  letter-spacing: 0.4px;
}
@media (max-width: 767px) {
  /* line 80, ../sass/layouts/partials/_header.sass */
  #header.sticky .logo-text p {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  /* line 80, ../sass/layouts/partials/_header.sass */
  #header.sticky .logo-text p {
    display: none;
  }
}
/* line 87, ../sass/layouts/partials/_header.sass */
#header.sticky .logo-text p:first-child {
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  /* line 87, ../sass/layouts/partials/_header.sass */
  #header.sticky .logo-text p:first-child {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  /* line 87, ../sass/layouts/partials/_header.sass */
  #header.sticky .logo-text p:first-child {
    display: block;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}
/* line 97, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu {
  font-size: 11px;
  width: 27px;
  right: 20px;
  top: 15px;
}
/* line 102, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu:before {
  top: 11px;
  right: -20px;
}
/* line 105, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu p {
  margin-left: 0;
}
/* line 107, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu-icon {
  width: 27px;
  height: 3px;
  margin-bottom: 10px;
}
/* line 111, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu-icon:before {
  top: -7px;
}
/* line 113, ../sass/layouts/partials/_header.sass */
#header.sticky .header-menu-icon:after {
  top: 7px;
}

/* line 117, ../sass/layouts/partials/_header.sass */
.logo {
  width: 67px;
  display: block;
  padding-right: 26px;
  border-right: 1px solid #d6d6d6;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 35px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 127, ../sass/layouts/partials/_header.sass */
.logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 129, ../sass/layouts/partials/_header.sass */
.logo img {
  display: block;
  max-width: 100%;
}

/* line 133, ../sass/layouts/partials/_header.sass */
.header-menu {
  position: absolute;
  z-index: 2;
  right: 36px;
  top: 26px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 13px;
  width: 32px;
}
/* line 142, ../sass/layouts/partials/_header.sass */
.header-menu:before {
  font-size: 0;
  content: "";
  display: none;
  position: absolute;
  top: 13px;
  right: -36px;
  border-right: 8px solid #363636;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
/* line 152, ../sass/layouts/partials/_header.sass */
.header-menu p {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin-left: 1px;
}
/* line 156, ../sass/layouts/partials/_header.sass */
.header-menu:hover .header-menu-icon, .header-menu:hover p {
  opacity: 0.6;
}
/* line 159, ../sass/layouts/partials/_header.sass */
.header-menu.menu-open:before {
  display: block;
}

/* line 162, ../sass/layouts/partials/_header.sass */
.header-menu-icon {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 32px;
  height: 4px;
  position: relative;
  background-color: #363636;
  margin: 9px 0 15px;
}
/* line 169, ../sass/layouts/partials/_header.sass */
.header-menu-icon:before, .header-menu-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #363636;
  top: -9px;
}
/* line 177, ../sass/layouts/partials/_header.sass */
.header-menu-icon:after {
  top: 9px;
}

/* line 180, ../sass/layouts/partials/_header.sass */
.logo-text {
  padding-top: 22px;
}
@media (max-width: 767px) {
  /* line 180, ../sass/layouts/partials/_header.sass */
  .logo-text {
    padding-top: 15px;
  }
}
/* line 184, ../sass/layouts/partials/_header.sass */
.logo-text p {
  font-size: 17px;
  font-family: "altisbook_italic", sans-serif;
  margin-bottom: 9px;
  letter-spacing: 0.5px;
}
@media (max-width: 1023px) {
  /* line 184, ../sass/layouts/partials/_header.sass */
  .logo-text p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  /* line 184, ../sass/layouts/partials/_header.sass */
  .logo-text p {
    font-size: 11px;
  }
}
/* line 193, ../sass/layouts/partials/_header.sass */
.logo-text p:first-child {
  font-size: 26px;
  font-family: "altismedium", sans-serif;
  letter-spacing: 0.7px;
}
@media (max-width: 1023px) {
  /* line 193, ../sass/layouts/partials/_header.sass */
  .logo-text p:first-child {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  /* line 193, ../sass/layouts/partials/_header.sass */
  .logo-text p:first-child {
    font-size: 17px;
  }
}

/* line 1, ../sass/layouts/partials/_content.sass */
.content {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
/* line 7, ../sass/layouts/partials/_content.sass */
.content.no-sidebar .container {
  width: 100%;
}
/* line 9, ../sass/layouts/partials/_content.sass */
.content.no-sidebar aside {
  display: none;
}

/* line 12, ../sass/layouts/partials/_content.sass */
.container {
  display: inline-block;
  vertical-align: top;
  width: 76.7%;
  min-height: 1px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 12, ../sass/layouts/partials/_content.sass */
  .container {
    width: 65%;
  }
}
@media (max-width: 767px) {
  /* line 12, ../sass/layouts/partials/_content.sass */
  .container {
    display: block;
    width: 100%;
  }
}

/* line 25, ../sass/layouts/partials/_content.sass */
aside {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 23.3%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 25, ../sass/layouts/partials/_content.sass */
  aside {
    width: 35%;
  }
}
@media (max-width: 767px) {
  /* line 25, ../sass/layouts/partials/_content.sass */
  aside {
    height: auto !important;
    min-height: 0 !important;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* line 41, ../sass/layouts/partials/_content.sass */
.page-content {
  padding-right: 26px;
  position: relative;
  *zoom: 1;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-content:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 767px) {
  /* line 41, ../sass/layouts/partials/_content.sass */
  .page-content {
    padding-right: 0;
    margin-bottom: 26px;
  }
}
/* line 48, ../sass/layouts/partials/_content.sass */
.page-content.with-white-bg {
  background: white;
  padding: 55px 51px 78px;
}
@media (max-width: 479px) {
  /* line 48, ../sass/layouts/partials/_content.sass */
  .page-content.with-white-bg {
    padding: 40px 20px 48px;
  }
}

/* line 1, ../sass/layouts/partials/content/_video.sass */
.video {
  position: relative;
}
/* line 3, ../sass/layouts/partials/content/_video.sass */
.video img {
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 7, ../sass/layouts/partials/content/_video.sass */
.video a {
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 2;
}
/* line 12, ../sass/layouts/partials/content/_video.sass */
.video iframe {
  position: absolute;
  z-index: 1;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}
/* line 20, ../sass/layouts/partials/content/_video.sass */
.video.play iframe {
  z-index: 4;
}
/* line 23, ../sass/layouts/partials/content/_video.sass */
.video:hover .video-play {
  text-decoration: underline;
}
/* line 26, ../sass/layouts/partials/content/_video.sass */
.video:hover .video-time:after {
  content: "  ";
  border-left-color: #fbd185;
}

/* line 30, ../sass/layouts/partials/content/_video.sass */
.video-play {
  display: block;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 26px;
  height: 70px;
  color: black;
  font-size: 32px;
  line-height: 26px;
  font-family: "altisitalic", sans-serif;
  letter-spacing: 0.5px;
  padding: 19px 30px 0 30px;
  background: #f2f2f2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 30, ../sass/layouts/partials/content/_video.sass */
  .video-play {
    font-size: 21px;
    padding-top: 11px;
    height: 50px;
  }
}
@media (max-width: 479px) {
  /* line 30, ../sass/layouts/partials/content/_video.sass */
  .video-play {
    height: auto;
    padding-bottom: 11px;
    line-height: 22px;
  }
}

/* line 57, ../sass/layouts/partials/content/_video.sass */
.video-time {
  float: left;
  display: block;
  margin: -19px 22px 0 -30px;
  background: #363636;
  position: relative;
  padding: 20px 72px 0 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  color: #f8ab22;
  font-size: 30px;
  font-family: "altisbook", sans-serif;
}
@media (max-width: 1023px) {
  /* line 57, ../sass/layouts/partials/content/_video.sass */
  .video-time {
    margin-top: -11px;
    padding: 12px 50px 0 20px;
    height: 50px;
    font-size: 21px;
  }
}
@media (max-width: 479px) {
  /* line 57, ../sass/layouts/partials/content/_video.sass */
  .video-time {
    position: absolute;
    right: 0;
    top: -39px;
    margin-right: 0;
    line-height: 26px;
  }
}
/* line 80, ../sass/layouts/partials/content/_video.sass */
.video-time:after {
  content: "";
  position: absolute;
  right: 24px;
  top: 18px;
  border-left: 26px solid #f8ab22;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  -webkit-transition: border-left-color 0.5s;
  -moz-transition: border-left-color 0.5s;
  -o-transition: border-left-color 0.5s;
  transition: border-left-color 0.5s;
}
@media (max-width: 1023px) {
  /* line 80, ../sass/layouts/partials/content/_video.sass */
  .video-time:after {
    border-left: 16px solid #f8ab22;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 16px;
    right: 14px;
  }
}

/* line 99, ../sass/layouts/partials/content/_video.sass */
.post .video-play {
  font-size: 0;
  padding-right: 0;
  padding-left: 0;
  background: transparent;
}
/* line 104, ../sass/layouts/partials/content/_video.sass */
.post .video-time {
  float: none;
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 479px) {
  /* line 104, ../sass/layouts/partials/content/_video.sass */
  .post .video-time {
    top: 0;
  }
}

/* line 1, ../sass/layouts/partials/content/_columns.sass */
ul.two-col {
  overflow: hidden;
  list-style: none;
  margin: 25px 0 -26px -3%;
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/content/_columns.sass */
  ul.two-col {
    margin-left: 0;
  }
}
/* line 7, ../sass/layouts/partials/content/_columns.sass */
ul.two-col:first-child {
  margin-top: 0;
}
/* line 9, ../sass/layouts/partials/content/_columns.sass */
ul.two-col li {
  margin-left: 3%;
  width: 47%;
  float: left;
}
@media (max-width: 1023px) {
  /* line 9, ../sass/layouts/partials/content/_columns.sass */
  ul.two-col li {
    margin-left: 0;
    width: 100%;
    float: none;
  }
}

/* line 19, ../sass/layouts/partials/content/_columns.sass */
ul.three-col {
  margin: 24px 0 -26px -3%;
  overflow: hidden;
  list-style: none;
}
@media (max-width: 1023px) {
  /* line 19, ../sass/layouts/partials/content/_columns.sass */
  ul.three-col {
    margin-left: 0;
  }
}
/* line 25, ../sass/layouts/partials/content/_columns.sass */
ul.three-col:first-child {
  margin-top: 0;
}
/* line 27, ../sass/layouts/partials/content/_columns.sass */
ul.three-col li {
  margin-left: 3%;
  width: 30.33333%;
  float: left;
}
@media (max-width: 1023px) {
  /* line 27, ../sass/layouts/partials/content/_columns.sass */
  ul.three-col li {
    margin-left: 0;
    width: 100%;
    float: none;
  }
}

/* line 38, ../sass/layouts/partials/content/_columns.sass */
ul.four-col {
  margin: 17px 0 -26px -2%;
  overflow: hidden;
  list-style: none;
}
@media (max-width: 1023px) {
  /* line 38, ../sass/layouts/partials/content/_columns.sass */
  ul.four-col {
    margin-left: -3%;
  }
}
@media (max-width: 767px) {
  /* line 38, ../sass/layouts/partials/content/_columns.sass */
  ul.four-col {
    margin-left: 0;
  }
}
/* line 46, ../sass/layouts/partials/content/_columns.sass */
ul.four-col li {
  margin-left: 2%;
  width: 23%;
  float: left;
}
@media (max-width: 1023px) {
  /* line 46, ../sass/layouts/partials/content/_columns.sass */
  ul.four-col li {
    margin-left: 3%;
    width: 47%;
  }
}
@media (max-width: 767px) {
  /* line 46, ../sass/layouts/partials/content/_columns.sass */
  ul.four-col li {
    margin-left: 0;
    width: 100%;
  }
}

/* line 1, ../sass/layouts/partials/content/_post.sass */
.post {
  color: black;
  overflow: hidden;
  position: relative;
  height: 521px;
  display: block;
  background: white;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin-bottom: 26px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/content/_post.sass */
  .post {
    height: auto;
    padding-bottom: 60px;
  }
}
/* line 16, ../sass/layouts/partials/content/_post.sass */
.post:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 18, ../sass/layouts/partials/content/_post.sass */
.post:hover .more {
  text-decoration: underline;
}
/* line 20, ../sass/layouts/partials/content/_post.sass */
.post .post-shadow {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 106px;
  background: url('../images/post-shadow.png?1412090573') repeat-x;
}
@media (max-width: 1023px) {
  /* line 20, ../sass/layouts/partials/content/_post.sass */
  .post .post-shadow {
    display: none;
  }
}
/* line 31, ../sass/layouts/partials/content/_post.sass */
.post img {
  width: 100%;
}
/* line 33, ../sass/layouts/partials/content/_post.sass */
.post .title {
  font-size: 26px;
  line-height: 30px;
  font-family: "altisitalic", sans-serif;
  margin: 24px 0 15px;
  padding: 0 31px;
}
@media (max-width: 767px) {
  /* line 33, ../sass/layouts/partials/content/_post.sass */
  .post .title {
    font-size: 22px;
    line-height: 26px;
  }
}
/* line 42, ../sass/layouts/partials/content/_post.sass */
.post p {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: "altisbook_italic", sans-serif;
  padding: 0 31px;
}
@media (max-width: 767px) {
  /* line 42, ../sass/layouts/partials/content/_post.sass */
  .post p {
    font-size: 14px;
    line-height: 19px;
  }
}
/* line 51, ../sass/layouts/partials/content/_post.sass */
.post > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
/* line 58, ../sass/layouts/partials/content/_post.sass */
.post .more {
  text-decoration: none;
  font-family: "altisbook", sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  bottom: 31px;
  right: 30px;
  top: auto;
  left: auto;
  padding-right: 30px;
  display: block;
}
@media (max-width: 767px) {
  /* line 58, ../sass/layouts/partials/content/_post.sass */
  .post .more {
    font-size: 12px;
  }
}
/* line 74, ../sass/layouts/partials/content/_post.sass */
.post .more:before {
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background: transparent url('../images/icons-s76c2ca9fea.png') 0 -154px no-repeat;
  position: absolute;
  right: 0;
  top: 9px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 74, ../sass/layouts/partials/content/_post.sass */
  .post .more:before {
    background-image: url('../images/icons2x-se481caff75.png');
    -webkit-background-size: 85px auto;
    -moz-background-size: 85px auto;
    -o-background-size: 85px auto;
    background-size: 85px auto;
    background-position: 0 -123.5px;
  }
}
/* line 81, ../sass/layouts/partials/content/_post.sass */
.post.auto-height {
  height: auto;
  padding: 1px 0 32px;
}
/* line 84, ../sass/layouts/partials/content/_post.sass */
.post.auto-height .post-shadow {
  display: none;
}
/* line 86, ../sass/layouts/partials/content/_post.sass */
.post.auto-height .more {
  bottom: 20px;
}

/* line 93, ../sass/layouts/partials/content/_post.sass */
.two-col[data-list-size] li,
.two-col[data-list-project-size] li {
  display: none;
}
/* line 95, ../sass/layouts/partials/content/_post.sass */
.two-col[data-list-size] li.show,
.two-col[data-list-project-size] li.show {
  display: block;
}
/* line 97, ../sass/layouts/partials/content/_post.sass */
.two-col[data-list-size] li.left,
.two-col[data-list-project-size] li.left {
  float: left;
}
/* line 99, ../sass/layouts/partials/content/_post.sass */
.two-col[data-list-size] li.right,
.two-col[data-list-project-size] li.right {
  float: right;
}

/* line 103, ../sass/layouts/partials/content/_post.sass */
.three-col .post {
  height: 440px;
}
@media (max-width: 1023px) {
  /* line 103, ../sass/layouts/partials/content/_post.sass */
  .three-col .post {
    height: auto;
  }
}
/* line 107, ../sass/layouts/partials/content/_post.sass */
.three-col .post .title {
  margin: 27px 0 11px;
  padding: 0 31px 0 29px;
}
/* line 110, ../sass/layouts/partials/content/_post.sass */
.three-col .post .more {
  bottom: 23px;
}

/* line 114, ../sass/layouts/partials/content/_post.sass */
.four-col .post {
  height: 440px;
}
@media (max-width: 767px) {
  /* line 114, ../sass/layouts/partials/content/_post.sass */
  .four-col .post {
    height: auto;
  }
}
/* line 118, ../sass/layouts/partials/content/_post.sass */
.four-col .post .title {
  margin: 27px 0 11px;
  padding: 0 31px 0 29px;
  letter-spacing: 1px;
  max-height: 90px;
  overflow: hidden;
}
/* line 124, ../sass/layouts/partials/content/_post.sass */
.four-col .post p {
  max-height: 72px;
  overflow: hidden;
}
/* line 127, ../sass/layouts/partials/content/_post.sass */
.four-col .post .more {
  bottom: 23px;
}
/* line 129, ../sass/layouts/partials/content/_post.sass */
.four-col .post .post-shadow {
  display: none;
}

/* line 1, ../sass/layouts/partials/content/_quote.sass */
.quote {
  color: black;
  text-align: center;
  background: white;
  height: 440px;
  position: relative;
  margin-bottom: 26px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/content/_quote.sass */
  .quote {
    height: auto;
    padding-bottom: 50px;
  }
}
/* line 14, ../sass/layouts/partials/content/_quote.sass */
.quote:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 16, ../sass/layouts/partials/content/_quote.sass */
.quote:hover .more {
  text-decoration: underline;
}
/* line 18, ../sass/layouts/partials/content/_quote.sass */
.quote:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  border-bottom: 9px solid #dfdcdb;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  -webkit-box-shadow: 0 4px 0px 0px #dfdcdb;
  -moz-box-shadow: 0 4px 0px 0px #dfdcdb;
  box-shadow: 0 4px 0px 0px #dfdcdb;
}
/* line 29, ../sass/layouts/partials/content/_quote.sass */
.quote .title {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 0px 10px 4px;
  border-bottom: 1px solid #bbbbbb;
  text-transform: uppercase;
  margin: 37px 0 23px;
}
@media (max-width: 767px) {
  /* line 29, ../sass/layouts/partials/content/_quote.sass */
  .quote .title {
    font-size: 12px;
    line-height: 15px;
  }
}
/* line 41, ../sass/layouts/partials/content/_quote.sass */
.quote .more {
  text-decoration: none;
  font-family: "altisbook", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}
@media (max-width: 767px) {
  /* line 41, ../sass/layouts/partials/content/_quote.sass */
  .quote .more {
    font-size: 12px;
  }
}
/* line 49, ../sass/layouts/partials/content/_quote.sass */
.quote > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
/* line 57, ../sass/layouts/partials/content/_quote.sass */
.quote blockquote {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  /* line 57, ../sass/layouts/partials/content/_quote.sass */
  .quote blockquote {
    margin-bottom: 20px;
  }
}

/* line 1, ../sass/layouts/partials/content/_link-box.sass */
.link-box {
  background: #94c13d;
  height: 250px;
  padding: 46px 30px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  margin-bottom: 26px;
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/content/_link-box.sass */
  .link-box {
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_link-box.sass */
  .link-box {
    padding: 36px 30px 40px;
  }
}
/* line 16, ../sass/layouts/partials/content/_link-box.sass */
.link-box:hover {
  background: #a9ce63;
}
/* line 18, ../sass/layouts/partials/content/_link-box.sass */
.link-box:hover .more {
  text-decoration: underline;
}
/* line 20, ../sass/layouts/partials/content/_link-box.sass */
.link-box .title {
  font-size: 36px;
  line-height: 23px;
  font-family: "altisitalic", sans-serif;
  color: white;
  border-bottom: 3px solid white;
  display: inline-block;
  padding-bottom: 7px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  /* line 20, ../sass/layouts/partials/content/_link-box.sass */
  .link-box .title {
    font-size: 28px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
/* line 33, ../sass/layouts/partials/content/_link-box.sass */
.link-box p {
  font-size: 24px;
  line-height: 28px;
  color: black;
  font-family: "altisregular", sans-serif;
  height: 84px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  /* line 33, ../sass/layouts/partials/content/_link-box.sass */
  .link-box p {
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 33, ../sass/layouts/partials/content/_link-box.sass */
  .link-box p {
    font-size: 20px;
    line-height: 24px;
  }
}
/* line 45, ../sass/layouts/partials/content/_link-box.sass */
.link-box > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 52, ../sass/layouts/partials/content/_link-box.sass */
.link-box .more {
  font-size: 14px;
  font-family: "altisbook", sans-serif;
  color: white;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  top: auto;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 52, ../sass/layouts/partials/content/_link-box.sass */
  .link-box .more {
    font-size: 12px;
    bottom: 24px;
  }
}

/* line 1, ../sass/layouts/partials/content/_widgets.sass */
.widgets-container {
  background: #f2f2f2;
  height: 100%;
  position: relative;
  padding: 0 26px;
}
@media (max-width: 479px) {
  /* line 1, ../sass/layouts/partials/content/_widgets.sass */
  .widgets-container {
    padding: 0 20px;
  }
}
/* line 8, ../sass/layouts/partials/content/_widgets.sass */
.widgets-container .widget {
  padding: 26px 0;
}

/* line 12, ../sass/layouts/partials/content/_widgets.sass */
.widget {
  text-align: center;
  color: black;
  position: relative;
  padding: 0;
}
/* line 17, ../sass/layouts/partials/content/_widgets.sass */
.widget:before {
  content: "";
  position: absolute;
  top: 0;
  width: 80%;
  height: 1px;
  background: #dfdcdb;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 28, ../sass/layouts/partials/content/_widgets.sass */
.widget:first-child:before {
  display: none;
}
/* line 30, ../sass/layouts/partials/content/_widgets.sass */
.widget .title {
  font-family: "altisbook_italic", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: white;
  display: block;
  padding: 14px 20px 16px;
  background: #363636;
  position: relative;
  max-width: 220px;
  margin: auto;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  /* line 30, ../sass/layouts/partials/content/_widgets.sass */
  .widget .title {
    font-size: 16px;
    line-height: 18px;
  }
}
/* line 45, ../sass/layouts/partials/content/_widgets.sass */
.widget .title:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-top: 9px solid #363636;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
/* line 54, ../sass/layouts/partials/content/_widgets.sass */
.widget .title.yellow {
  font-family: "altisitalic", sans-serif;
  font-size: 24px;
  color: #f8ab22;
}
@media (max-width: 767px) {
  /* line 54, ../sass/layouts/partials/content/_widgets.sass */
  .widget .title.yellow {
    font-size: 20px;
  }
}
/* line 61, ../sass/layouts/partials/content/_widgets.sass */
.widget img {
  margin: 0 auto 26px;
}
/* line 63, ../sass/layouts/partials/content/_widgets.sass */
.widget h3, .widget h4, .widget h5, .widget h6 {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 23px;
  font-family: "altisregular", sans-serif;
}
@media (max-width: 767px) {
  /* line 63, ../sass/layouts/partials/content/_widgets.sass */
  .widget h3, .widget h4, .widget h5, .widget h6 {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
}
/* line 73, ../sass/layouts/partials/content/_widgets.sass */
.widget i {
  display: block;
  font-family: "altisbook_italic", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 9px;
}
@media (max-width: 767px) {
  /* line 73, ../sass/layouts/partials/content/_widgets.sass */
  .widget i {
    font-size: 16px;
    line-height: 22px;
  }
}
/* line 83, ../sass/layouts/partials/content/_widgets.sass */
.widget em {
  font-family: "altislight_italic", sans-serif;
  font-size: 22px;
  line-height: 24px;
  margin: 6px 0 4px;
  display: block;
}
@media (max-width: 767px) {
  /* line 83, ../sass/layouts/partials/content/_widgets.sass */
  .widget em {
    font-size: 20px;
    line-height: 22px;
  }
}
/* line 92, ../sass/layouts/partials/content/_widgets.sass */
.widget p {
  font-family: "altisregular", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 8px;
  width: 101%;
  margin-left: -0.5%;
}
@media (max-width: 767px) {
  /* line 92, ../sass/layouts/partials/content/_widgets.sass */
  .widget p {
    font-size: 17px;
    line-height: 22px;
  }
}
/* line 103, ../sass/layouts/partials/content/_widgets.sass */
.widget p span {
  text-transform: uppercase;
}
/* line 105, ../sass/layouts/partials/content/_widgets.sass */
.widget .separator {
  width: 80%;
  height: 0px;
  margin: 0 auto;
  padding: 26px 0;
  border: none;
  position: relative;
  background: transparent;
  display: block;
}
/* line 114, ../sass/layouts/partials/content/_widgets.sass */
.widget .separator:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #dfdcdb;
}
/* line 124, ../sass/layouts/partials/content/_widgets.sass */
.widget .title + p {
  margin-bottom: 12px;
}
/* line 126, ../sass/layouts/partials/content/_widgets.sass */
.widget a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 41px;
  margin-bottom: 21px;
}
/* line 134, ../sass/layouts/partials/content/_widgets.sass */
.widget a:hover span:first-child {
  background: #bfda8a;
}
/* line 136, ../sass/layouts/partials/content/_widgets.sass */
.widget a:hover span:first-child:after {
  border-top-color: #bfda8a;
}
/* line 138, ../sass/layouts/partials/content/_widgets.sass */
.widget a span {
  display: block;
  position: relative;
  font-family: "altisregular", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: black;
}
@media (max-width: 767px) {
  /* line 138, ../sass/layouts/partials/content/_widgets.sass */
  .widget a span {
    font-size: 17px;
    line-height: 22px;
  }
}
/* line 148, ../sass/layouts/partials/content/_widgets.sass */
.widget a span:first-child {
  font-family: "altisbook_italic", sans-serif;
  font-size: 22px;
  line-height: 32px;
  background: #94c13d;
  padding: 8px 10px 10px;
  color: white;
  max-width: 220px;
  margin: auto;
  margin-bottom: 12px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
@media (max-width: 767px) {
  /* line 148, ../sass/layouts/partials/content/_widgets.sass */
  .widget a span:first-child {
    font-size: 20px;
    line-height: 30px;
  }
}
/* line 162, ../sass/layouts/partials/content/_widgets.sass */
.widget a span:first-child:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid #94c13d;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  -webkit-transition: border-top-color 0.5s;
  -moz-transition: border-top-color 0.5s;
  -o-transition: border-top-color 0.5s;
  transition: border-top-color 0.5s;
}
/* line 178, ../sass/layouts/partials/content/_widgets.sass */
.widget .partners {
  margin-top: 25px;
  margin-bottom: 8px;
}
/* line 181, ../sass/layouts/partials/content/_widgets.sass */
.widget .partners a {
  display: inline-block;
  margin: 0;
}
/* line 184, ../sass/layouts/partials/content/_widgets.sass */
.widget .partners img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 10px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 189, ../sass/layouts/partials/content/_widgets.sass */
.widget .partners img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 1, ../sass/layouts/partials/content/_socials.sass */
.socials {
  position: absolute;
  right: 26px;
  top: 26px;
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/content/_socials.sass */
  .socials {
    top: 22px;
  }
}
@media (max-width: 479px) {
  /* line 1, ../sass/layouts/partials/content/_socials.sass */
  .socials {
    top: 10px;
    right: 20px;
  }
}
/* line 11, ../sass/layouts/partials/content/_socials.sass */
.socials a {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #a4a4a4;
  color: #cccccc;
  font-size: 19px;
  text-decoration: none;
  outline: none;
  position: relative;
  margin-left: 4px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 26, ../sass/layouts/partials/content/_socials.sass */
.socials a:before {
  position: absolute;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 29, ../sass/layouts/partials/content/_socials.sass */
.socials a:hover {
  border-color: #717171;
}
/* line 31, ../sass/layouts/partials/content/_socials.sass */
.socials a:hover:before {
  color: #999999;
}
/* line 36, ../sass/layouts/partials/content/_socials.sass */
.socials .mail:before {
  top: 8px;
  left: 7px;
}
/* line 41, ../sass/layouts/partials/content/_socials.sass */
.socials .facebook:before {
  top: 9px;
  left: 7px;
}
/* line 46, ../sass/layouts/partials/content/_socials.sass */
.socials .twitter:before {
  top: 9px;
  left: 8px;
}

/* line 50, ../sass/layouts/partials/content/_socials.sass */
.socials-bottom {
  top: auto;
  bottom: 30px;
}
@media (max-width: 479px) {
  /* line 50, ../sass/layouts/partials/content/_socials.sass */
  .socials-bottom {
    bottom: 10px;
  }
}

/* line 1, ../sass/layouts/partials/content/_related-articles.sass */
.related-articles {
  margin-top: 29px;
  clear: both;
}
/* line 4, ../sass/layouts/partials/content/_related-articles.sass */
.related-articles > .title {
  font-size: 24px;
  color: black;
  font-family: "altisitalic", sans-serif;
  letter-spacing: 0.3px;
  margin-bottom: 17px;
}
/* line 11, ../sass/layouts/partials/content/_related-articles.sass */
.related-articles .post .title {
  letter-spacing: -0.3px;
}

/* line 1, ../sass/layouts/partials/content/_show-more.sass */
.show-more {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-family: "altisbook_italic", sans-serif;
  color: black;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 12px 20px 15px;
  background: white;
  margin-top: 25px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_show-more.sass */
  .show-more {
    font-size: 16px;
    line-height: 18px;
  }
}
/* line 19, ../sass/layouts/partials/content/_show-more.sass */
.show-more:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 21, ../sass/layouts/partials/content/_show-more.sass */
.show-more span {
  display: none;
}
/* line 23, ../sass/layouts/partials/content/_show-more.sass */
.show-more span:first-child {
  display: block;
}
/* line 26, ../sass/layouts/partials/content/_show-more.sass */
.show-more.show-more-open span {
  display: block;
}
/* line 28, ../sass/layouts/partials/content/_show-more.sass */
.show-more.show-more-open span:first-child {
  display: none;
}

/* line 2, ../sass/layouts/partials/content/_event-widget.sass */
.event-widget .title {
  font-family: "altisbook_italic", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: white;
  display: block;
  padding: 14px 20px 16px;
  background: #363636;
  position: relative;
  margin-bottom: 26px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 2, ../sass/layouts/partials/content/_event-widget.sass */
  .event-widget .title {
    font-size: 16px;
    line-height: 18px;
  }
}
/* line 17, ../sass/layouts/partials/content/_event-widget.sass */
.event-widget .title:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-top: 9px solid #363636;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/* line 27, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-date_1 {
  background: white;
  padding: 30px 30px 28px;
  position: relative;
  margin-bottom: 26px;
}

/* line 33, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-date-title_1 {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 52px;
  border: 1px solid #dfdcdb;
  font-family: "altismedium", sans-serif;
  color: #363636;
  text-align: center;
  background: white;
}

/* line 43, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-month_1 {
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  display: block;
  background: #dfdcdb;
  padding: 3px 0;
  color: black;
}

/* line 51, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-day_1 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 1px;
}

/* line 55, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-weekday_1 {
  font-size: 10px;
  line-height: 12px;
  margin-top: 1px;
  margin-bottom: 6px;
}

/* line 61, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-event-time_1, .ai1ec-field-value_1 {
  font-size: 16px;
  line-height: 20px;
  font-family: "altisbook", sans-serif;
  color: black;
  margin-top: 11px;
  margin-bottom: 11px;
  height: 60px;
  overflow: hidden;
  padding-right: 60px;
}
@media (max-width: 767px) {
  /* line 61, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-event-time_1, .ai1ec-field-value_1 {
    font-size: 14px;
    line-height: 18px;
    height: 54px;
  }
}

/* line 76, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-event-title_1 {
  font-size: 23px;
  line-height: 28px;
  font-family: "altislight", sans-serif;
  color: black;
  margin-top: 11px;
  margin-bottom: 16px;
  display: block;
  height: 56px;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 76, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-event-title_1 {
    font-size: 21px;
    line-height: 26px;
    height: auto;
    max-height: 52px;
    margin-bottom: 13px;
  }
}

/* line 92, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-popup-excerpt_1 {
  font-size: 18px;
  line-height: 24px;
  font-family: "altislight_italic", sans-serif;
  color: black;
  margin-top: 16px;
  letter-spacing: -0.3px;
  height: 72px;
  overflow: hidden;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  /* line 92, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-popup-excerpt_1 {
    margin-top: 13px;
    font-size: 16px;
    line-height: 22px;
    height: auto;
    max-height: 66px;
  }
}

/* line 108, ../sass/layouts/partials/content/_event-widget.sass */
.less-mer {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "altisbook", sans-serif;
  position: absolute;
  z-index: 2;
  bottom: 25px;
  right: 30px;
  top: auto;
  left: auto;
  padding-right: 30px;
  display: block;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 108, ../sass/layouts/partials/content/_event-widget.sass */
  .less-mer {
    font-size: 12px;
  }
}
/* line 123, ../sass/layouts/partials/content/_event-widget.sass */
.less-mer:before {
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background: transparent url('../images/icons-s76c2ca9fea.png') 0 -154px no-repeat;
  position: absolute;
  right: 0;
  top: 9px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 123, ../sass/layouts/partials/content/_event-widget.sass */
  .less-mer:before {
    background-image: url('../images/icons2x-se481caff75.png');
    -webkit-background-size: 85px auto;
    -moz-background-size: 85px auto;
    -o-background-size: 85px auto;
    background-size: 85px auto;
    background-position: 0 -123.5px;
  }
}
/* line 129, ../sass/layouts/partials/content/_event-widget.sass */
.less-mer:hover {
  text-decoration: underline;
}

/* line 134, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-event-details_1 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  /* line 134, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-event-details_1 {
    margin-bottom: 15px;
  }
}

/* line 139, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-field-label_1 {
  font-family: "altismedium", sans-serif;
  float: left;
  margin-right: 30px;
  font-size: 20px;
  line-height: 20px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  /* line 139, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-field-label_1 {
    font-size: 17px;
    line-height: 17px;
    margin-top: -1px;
    margin-right: 20px;
  }
}

/* line 152, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-field-value_1 {
  height: auto;
}

/* line 156, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-event-avatar_1 {
  float: left;
  margin: 0px 20px 10px 0;
}
@media (max-width: 767px) {
  /* line 156, ../sass/layouts/partials/content/_event-widget.sass */
  .ai1ec-event-avatar_1 {
    float: none;
    width: 100%;
  }
}
/* line 162, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-event-avatar_1 img {
  max-width: 100%;
}

/* line 166, ../sass/layouts/partials/content/_event-widget.sass */
.ai1ec-hidden_1 {
  display: none;
}

/* line 169, ../sass/layouts/partials/content/_event-widget.sass */
.p-description {
  overflow: hidden;
}

/* line 1, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper {
  font-size: 18px;
  line-height: 18px;
  font-family: "altisbold", sans-serif;
  color: #9a9a9a;
  margin-top: 73px;
}
@media (max-width: 479px) {
  /* line 1, ../sass/layouts/partials/content/_gform.sass */
  .gform_wrapper {
    margin-top: 50px;
  }
}
/* line 10, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper ul {
  list-style: none;
}
/* line 12, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper input {
  height: 56px;
}
/* line 14, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper input, .gform_wrapper textarea, .gform_wrapper input[type=text], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input.large {
  position: relative;
  border: none;
  background: transparent;
  width: 92%;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 0;
  left: 20px;
  font-size: 18px;
  line-height: 18px;
  color: #9a9a9a;
  font-family: "altisbold", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
/* line 2, ../sass/mixins/_placeholder.sass */
.gform_wrapper input::-webkit-input-placeholder, .gform_wrapper textarea::-webkit-input-placeholder, .gform_wrapper input[type=text]::-webkit-input-placeholder, .gform_wrapper input[type=tel]::-webkit-input-placeholder, .gform_wrapper input[type=number]::-webkit-input-placeholder, .gform_wrapper input[type=password]::-webkit-input-placeholder, .gform_wrapper input.large::-webkit-input-placeholder {
  font-size: 18px;
  color: #9a9a9a;
  padding-top: 3.5px;
}
/* line 4, ../sass/mixins/_placeholder.sass */
.gform_wrapper input::-moz-placeholder, .gform_wrapper textarea::-moz-placeholder, .gform_wrapper input[type=text]::-moz-placeholder, .gform_wrapper input[type=tel]::-moz-placeholder, .gform_wrapper input[type=number]::-moz-placeholder, .gform_wrapper input[type=password]::-moz-placeholder, .gform_wrapper input.large::-moz-placeholder {
  font-size: 18px;
  color: #9a9a9a;
  padding-top: 3.5px;
}
/* line 6, ../sass/mixins/_placeholder.sass */
.gform_wrapper input:-moz-placeholder, .gform_wrapper textarea:-moz-placeholder, .gform_wrapper input[type=text]:-moz-placeholder, .gform_wrapper input[type=tel]:-moz-placeholder, .gform_wrapper input[type=number]:-moz-placeholder, .gform_wrapper input[type=password]:-moz-placeholder, .gform_wrapper input.large:-moz-placeholder {
  font-size: 18px;
  color: #9a9a9a;
  padding-top: 3.5px;
}
/* line 8, ../sass/mixins/_placeholder.sass */
.gform_wrapper input:-ms-input-placeholder, .gform_wrapper textarea:-ms-input-placeholder, .gform_wrapper input[type=text]:-ms-input-placeholder, .gform_wrapper input[type=tel]:-ms-input-placeholder, .gform_wrapper input[type=number]:-ms-input-placeholder, .gform_wrapper input[type=password]:-ms-input-placeholder, .gform_wrapper input.large:-ms-input-placeholder {
  font-size: 18px;
  color: #9a9a9a;
  padding-top: 3.5px;
}
/* line 34, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper input:-ms-input-placeholder, .gform_wrapper textarea:-ms-input-placeholder, .gform_wrapper input[type=text]:-ms-input-placeholder, .gform_wrapper input[type=tel]:-ms-input-placeholder, .gform_wrapper input[type=number]:-ms-input-placeholder, .gform_wrapper input[type=password]:-ms-input-placeholder, .gform_wrapper input.large:-ms-input-placeholder {
  padding-top: 18px;
}
/* line 36, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper input.placeholder, .gform_wrapper textarea.placeholder, .gform_wrapper input[type=text].placeholder, .gform_wrapper input[type=tel].placeholder, .gform_wrapper input[type=number].placeholder, .gform_wrapper input[type=password].placeholder, .gform_wrapper input.large.placeholder {
  padding-top: 20px;
}
/* line 39, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper textarea, .gform_wrapper textarea.textarea {
  height: 234px;
  padding: 14px 20px;
  padding-left: 0;
  left: 20px;
  line-height: 26px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 39, ../sass/layouts/partials/content/_gform.sass */
  .gform_wrapper textarea, .gform_wrapper textarea.textarea {
    height: 160px;
  }
}
@media (max-width: 767px) {
  /* line 39, ../sass/layouts/partials/content/_gform.sass */
  .gform_wrapper textarea, .gform_wrapper textarea.textarea {
    height: 134px;
  }
}
/* line 2, ../sass/mixins/_placeholder.sass */
.gform_wrapper textarea::-webkit-input-placeholder, .gform_wrapper textarea.textarea::-webkit-input-placeholder {
  line-height: 18px;
}
/* line 4, ../sass/mixins/_placeholder.sass */
.gform_wrapper textarea::-moz-placeholder, .gform_wrapper textarea.textarea::-moz-placeholder {
  line-height: 18px;
}
/* line 6, ../sass/mixins/_placeholder.sass */
.gform_wrapper textarea:-moz-placeholder, .gform_wrapper textarea.textarea:-moz-placeholder {
  line-height: 18px;
}
/* line 8, ../sass/mixins/_placeholder.sass */
.gform_wrapper textarea:-ms-input-placeholder, .gform_wrapper textarea.textarea:-ms-input-placeholder {
  line-height: 18px;
}
/* line 52, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper textarea.placeholder, .gform_wrapper textarea.textarea.placeholder {
  padding-top: 14px;
}
/* line 54, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .ginput_container {
  position: relative;
  z-index: 2;
}
/* line 57, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .button {
  float: right;
  left: 0;
}
/* line 61, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .gfield {
  background: #f9f9f9;
  border: 1px solid #dddddd;
  position: relative;
  margin-bottom: 22px;
}
/* line 67, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .gform_heading {
  font-size: 20px;
  color: #010101;
  margin-top: -11px;
  margin-bottom: 37px;
}
@media (max-width: 767px) {
  /* line 67, ../sass/layouts/partials/content/_gform.sass */
  .gform_wrapper .gform_heading {
    font-size: 18px;
    margin-bottom: 27px;
  }
}
/* line 75, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .gform_heading .gform_title {
  font-family: "altismedium", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 767px) {
  /* line 75, ../sass/layouts/partials/content/_gform.sass */
  .gform_wrapper .gform_heading .gform_title {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 82, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .gform_heading .gform_description {
  line-height: 30px;
  font-family: "altisbook", sans-serif;
}
/* line 86, ../sass/layouts/partials/content/_gform.sass */
.gform_wrapper .gform_footer {
  overflow: hidden;
}

/* line 1, ../sass/layouts/partials/content/_questions.sass */
ul.questions {
  margin-top: 65px;
  margin-bottom: 60px;
  border-bottom: 1px solid #dfdcdb;
  padding-bottom: 35px;
}
/* line 6, ../sass/layouts/partials/content/_questions.sass */
ul.questions .featured {
  background: #eaf3d8;
  padding: 63px 51px 33px;
  width: 100%;
  margin: 56px 0 56px -51px;
}
@media (max-width: 479px) {
  /* line 6, ../sass/layouts/partials/content/_questions.sass */
  ul.questions .featured {
    padding: 43px 20px 25px;
    margin-left: -20px;
  }
}
/* line 15, ../sass/layouts/partials/content/_questions.sass */
ul.questions li {
  list-style: none;
}
/* line 17, ../sass/layouts/partials/content/_questions.sass */
ul.questions p:first-child {
  font-family: "altismedium", sans-serif;
  margin-bottom: 11px;
}

/* line 1, ../sass/layouts/partials/content/_contacts.sass */
.contacts {
  margin-top: 54px;
  margin-bottom: 87px;
}
@media (max-width: 479px) {
  /* line 1, ../sass/layouts/partials/content/_contacts.sass */
  .contacts {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
/* line 7, ../sass/layouts/partials/content/_contacts.sass */
.contacts ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 67px;
}
@media (max-width: 479px) {
  /* line 7, ../sass/layouts/partials/content/_contacts.sass */
  .contacts ul {
    margin-bottom: 35px;
  }
}
/* line 13, ../sass/layouts/partials/content/_contacts.sass */
.contacts ul p {
  margin-bottom: 0;
}
/* line 15, ../sass/layouts/partials/content/_contacts.sass */
.contacts li {
  width: 50%;
  float: left;
  padding-right: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
}
@media (max-width: 1023px) {
  /* line 15, ../sass/layouts/partials/content/_contacts.sass */
  .contacts li {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
/* line 26, ../sass/layouts/partials/content/_contacts.sass */
.contacts li:first-child {
  padding-left: 0;
}
/* line 28, ../sass/layouts/partials/content/_contacts.sass */
.contacts strong {
  font-family: "altismedium", sans-serif;
}
/* line 30, ../sass/layouts/partials/content/_contacts.sass */
.contacts > p {
  margin-bottom: 30px;
}
/* line 32, ../sass/layouts/partials/content/_contacts.sass */
.contacts a {
  text-decoration: none;
}
/* line 34, ../sass/layouts/partials/content/_contacts.sass */
.contacts a:hover {
  text-decoration: underline;
}
/* line 36, ../sass/layouts/partials/content/_contacts.sass */
.contacts a[href*="mailto"] {
  text-decoration: underline;
}
/* line 38, ../sass/layouts/partials/content/_contacts.sass */
.contacts a[href*="mailto"]:hover {
  text-decoration: none;
}

/* line 1, ../sass/layouts/partials/content/_search.sass */
.search {
  margin-top: 40px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_search.sass */
  .search {
    margin-top: 30px;
  }
}
/* line 5, ../sass/layouts/partials/content/_search.sass */
.search .show-more {
  margin-top: 46px;
  margin-bottom: -24px;
  background: #f2f2f2;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 10, ../sass/layouts/partials/content/_search.sass */
.search .show-more:hover {
  background: #bfbfbf;
}

/* line 12, ../sass/layouts/partials/content/_search.sass */
.search-form {
  max-width: 542px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  position: relative;
  border: 1px solid #dfdcdb;
  background: white;
}
/* line 20, ../sass/layouts/partials/content/_search.sass */
.search-form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
/* line 24, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=search] {
  font-size: 18px;
  line-height: 18px;
  color: black;
  max-width: 541px;
  width: 85%;
  padding: 12px 0px;
  background-color: transparent;
  height: 48px;
  left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  /* line 24, ../sass/layouts/partials/content/_search.sass */
  .search-form input[type=search] {
    width: 77%;
  }
}
@media (max-width: 479px) {
  /* line 24, ../sass/layouts/partials/content/_search.sass */
  .search-form input[type=search] {
    width: 70%;
  }
}
/* line 41, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=search]::-ms-clear {
  display: none;
}
/* line 43, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=search]::-webkit-search-cancel-button {
  display: none;
}
/* line 2, ../sass/mixins/_placeholder.sass */
.search-form input[type=search]::-webkit-input-placeholder {
  font-size: 18px;
  color: black;
  padding-top: 0.5px;
}
/* line 4, ../sass/mixins/_placeholder.sass */
.search-form input[type=search]::-moz-placeholder {
  font-size: 18px;
  color: black;
  padding-top: 0.5px;
}
/* line 6, ../sass/mixins/_placeholder.sass */
.search-form input[type=search]:-moz-placeholder {
  font-size: 18px;
  color: black;
  padding-top: 0.5px;
}
/* line 8, ../sass/mixins/_placeholder.sass */
.search-form input[type=search]:-ms-input-placeholder {
  font-size: 18px;
  color: black;
  padding-top: 0.5px;
}
/* line 49, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=search]:-ms-input-placeholder {
  padding-top: 16px;
}
/* line 51, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=search].placeholder {
  padding-top: 17px;
}
/* line 53, ../sass/layouts/partials/content/_search.sass */
.search-form input[type=submit] {
  display: block;
  width: 16px;
  height: 17px;
  background: transparent url('../images/icons-s76c2ca9fea.png') 0 -80px no-repeat;
  position: absolute;
  z-index: 3;
  right: 18px;
  top: 18px;
  cursor: pointer;
  color: transparent;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 53, ../sass/layouts/partials/content/_search.sass */
  .search-form input[type=submit] {
    background-image: url('../images/icons2x-se481caff75.png');
    -webkit-background-size: 85px auto;
    -moz-background-size: 85px auto;
    -o-background-size: 85px auto;
    background-size: 85px auto;
    background-position: 0 -69.5px;
  }
}

/* line 62, ../sass/layouts/partials/content/_search.sass */
.search-result {
  margin-top: 63px;
}
@media (max-width: 767px) {
  /* line 62, ../sass/layouts/partials/content/_search.sass */
  .search-result {
    margin-top: 43px;
  }
}
/* line 66, ../sass/layouts/partials/content/_search.sass */
.search-result .post {
  clear: both;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin-bottom: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1023px) {
  /* line 66, ../sass/layouts/partials/content/_search.sass */
  .search-result .post {
    padding-bottom: 0;
  }
}
/* line 77, ../sass/layouts/partials/content/_search.sass */
.search-result .post.show {
  visibility: visible;
  opacity: 1;
  margin-bottom: 26px;
  height: auto;
}
@media (max-width: 1023px) {
  /* line 77, ../sass/layouts/partials/content/_search.sass */
  .search-result .post.show {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  /* line 77, ../sass/layouts/partials/content/_search.sass */
  .search-result .post.show {
    margin-bottom: 30px;
  }
}
/* line 87, ../sass/layouts/partials/content/_search.sass */
.search-result .post .title {
  height: 30px;
  overflow: hidden;
  padding: 0 28px 0 0;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  /* line 87, ../sass/layouts/partials/content/_search.sass */
  .search-result .post .title {
    height: auto;
  }
}
/* line 94, ../sass/layouts/partials/content/_search.sass */
.search-result .post p {
  height: 72px;
  overflow: hidden;
  padding: 0 10px 0 0px;
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  /* line 94, ../sass/layouts/partials/content/_search.sass */
  .search-result .post p {
    margin-bottom: 35px;
  }
}
/* line 101, ../sass/layouts/partials/content/_search.sass */
.search-result .post .more {
  bottom: 2px;
  right: 3px;
}
/* line 104, ../sass/layouts/partials/content/_search.sass */
.search-result .post img {
  float: left;
  width: 268px;
}
@media (max-width: 1023px) {
  /* line 104, ../sass/layouts/partials/content/_search.sass */
  .search-result .post img {
    float: none;
    width: 100%;
  }
}
/* line 110, ../sass/layouts/partials/content/_search.sass */
.search-result .post img + .title {
  padding: 0 28px;
}
@media (max-width: 1023px) {
  /* line 110, ../sass/layouts/partials/content/_search.sass */
  .search-result .post img + .title {
    padding-left: 0;
  }
}
/* line 114, ../sass/layouts/partials/content/_search.sass */
.search-result .post img + .title + p {
  padding: 0 10px 0 28px;
}
@media (max-width: 1023px) {
  /* line 114, ../sass/layouts/partials/content/_search.sass */
  .search-result .post img + .title + p {
    padding-left: 0;
  }
}

/* line 1, ../sass/layouts/partials/_footer.sass */
#footer {
  margin-top: 26px;
  background: white;
  padding: 91px 0 94px;
  letter-spacing: 0.3px;
  width: 100%;
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/partials/_footer.sass */
  #footer {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/_footer.sass */
  #footer {
    padding: 50px 0;
  }
}

/* line 12, ../sass/layouts/partials/_footer.sass */
.footer-widget {
  font-size: 18px;
  line-height: 34px;
  color: #555555;
  display: inline-block;
  vertical-align: top;
  width: 33.8%;
}
@media (max-width: 1023px) {
  /* line 12, ../sass/layouts/partials/_footer.sass */
  .footer-widget {
    width: 50%;
    display: block;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  /* line 12, ../sass/layouts/partials/_footer.sass */
  .footer-widget {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
  }
}
/* line 27, ../sass/layouts/partials/_footer.sass */
.footer-widget p {
  font-family: "altisbook", sans-serif;
}
/* line 29, ../sass/layouts/partials/_footer.sass */
.footer-widget a {
  color: #555555;
  text-decoration: none;
}
/* line 32, ../sass/layouts/partials/_footer.sass */
.footer-widget a:hover {
  text-decoration: underline;
}

/* line 36, ../sass/layouts/partials/_footer.sass */
.footer-partners {
  display: block;
  position: absolute;
  right: 19px;
  top: 9px;
  color: black;
  font-family: "altisitalic", sans-serif;
  font-size: 12px;
  background: #f1f1f1;
  padding: 25px 30px 6px;
  text-align: justify;
}
@media (max-width: 1023px) {
  /* line 36, ../sass/layouts/partials/_footer.sass */
  .footer-partners {
    top: 210px;
  }
}
@media (max-width: 767px) {
  /* line 36, ../sass/layouts/partials/_footer.sass */
  .footer-partners {
    top: auto;
    bottom: 0;
    padding: 25px 25px 6px;
  }
}
/* line 53, ../sass/layouts/partials/_footer.sass */
.footer-partners:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  vertical-align: top;
}
/* line 59, ../sass/layouts/partials/_footer.sass */
.footer-partners p {
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 22px;
}
/* line 63, ../sass/layouts/partials/_footer.sass */
.footer-partners img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 10px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 69, ../sass/layouts/partials/_footer.sass */
.footer-partners img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 72, ../sass/layouts/partials/_footer.sass */
.footer-logo {
  display: block;
  width: 103px;
  position: absolute;
  right: 244px;
  top: 19px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (max-width: 1023px) {
  /* line 72, ../sass/layouts/partials/_footer.sass */
  .footer-logo {
    right: 59px;
    top: 15px;
  }
}
@media (max-width: 767px) {
  /* line 72, ../sass/layouts/partials/_footer.sass */
  .footer-logo {
    position: static;
  }
}
/* line 84, ../sass/layouts/partials/_footer.sass */
.footer-logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 86, ../sass/layouts/partials/_footer.sass */
.footer-logo img {
  max-width: 100%;
}

/* line 1, ../sass/layouts/partials/_menu.sass */
#menu {
  position: fixed;
  z-index: 2001;
  right: 0;
  -webkit-transform: translateX(413px);
  -moz-transform: translateX(413px);
  -ms-transform: translateX(413px);
  -o-transform: translateX(413px);
  transform: translateX(413px);
  top: 0;
  width: 413px;
  height: 100%;
  background: #363636;
  padding: 63px 60px 60px 40px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 479px) {
  /* line 1, ../sass/layouts/partials/_menu.sass */
  #menu {
    width: 270px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    padding: 45px 30px;
  }
}
/* line 20, ../sass/layouts/partials/_menu.sass */
#menu.menu-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 22, ../sass/layouts/partials/_menu.sass */
#menu a {
  color: #c2c2c2;
  font-size: 18px;
  line-height: 28px;
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
}
@media (max-width: 479px) {
  /* line 22, ../sass/layouts/partials/_menu.sass */
  #menu a {
    font-size: 16px;
    line-height: 24px;
  }
}
/* line 32, ../sass/layouts/partials/_menu.sass */
#menu a:hover {
  text-decoration: underline;
}
/* line 34, ../sass/layouts/partials/_menu.sass */
#menu a.current_page_item {
  color: white;
}
/* line 36, ../sass/layouts/partials/_menu.sass */
#menu a.current_page_item:hover {
  text-decoration: none;
}

/* line 39, ../sass/layouts/partials/_menu.sass */
.menu-close {
  margin: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
@media (max-width: 479px) {
  /* line 39, ../sass/layouts/partials/_menu.sass */
  .menu-close {
    top: 15px;
    right: 15px;
  }
}
/* line 50, ../sass/layouts/partials/_menu.sass */
.menu-close:before, .menu-close:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 8px;
  width: 2px;
  height: 22px;
  background: #c2c2c2;
  background: rgba(194, 194, 194, 0.7);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
/* line 62, ../sass/layouts/partials/_menu.sass */
.menu-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 65, ../sass/layouts/partials/_menu.sass */
.menu-close:hover:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 67, ../sass/layouts/partials/_menu.sass */
.menu-close:hover:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 73, ../sass/layouts/partials/_menu.sass */
#menu-search {
  position: relative;
  margin-bottom: 33px;
  background: #4a4a4a;
  font-size: 18px;
  line-height: 18px;
}
/* line 80, ../sass/layouts/partials/_menu.sass */
#menu-search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
/* line 83, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background: transparent;
  width: 78%;
  height: 50px;
  color: #c2c2c2;
  color: rgba(194, 194, 194, 0.7);
  padding: 16px 0px 13px 0px;
  left: 18px;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 479px) {
  /* line 83, ../sass/layouts/partials/_menu.sass */
  #menu-search input[type=search] {
    width: 67%;
  }
}
/* line 98, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=search]::-ms-clear {
  display: none;
}
/* line 100, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=search]::-webkit-search-cancel-button {
  display: none;
}
/* line 2, ../sass/mixins/_placeholder.sass */
#menu-search input[type=search]::-webkit-input-placeholder {
  color: #c2c2c2;
  color: rgba(194, 194, 194, 0.7);
  font-size: 18px;
  padding-top: 0.5px;
}
/* line 4, ../sass/mixins/_placeholder.sass */
#menu-search input[type=search]::-moz-placeholder {
  color: #c2c2c2;
  color: rgba(194, 194, 194, 0.7);
  font-size: 18px;
  padding-top: 0.5px;
}
/* line 6, ../sass/mixins/_placeholder.sass */
#menu-search input[type=search]:-moz-placeholder {
  color: #c2c2c2;
  color: rgba(194, 194, 194, 0.7);
  font-size: 18px;
  padding-top: 0.5px;
}
/* line 8, ../sass/mixins/_placeholder.sass */
#menu-search input[type=search]:-ms-input-placeholder {
  color: #c2c2c2;
  color: rgba(194, 194, 194, 0.7);
  font-size: 18px;
  padding-top: 0.5px;
}
/* line 107, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=search]:-ms-input-placeholder {
  padding-top: 16px;
}
/* line 109, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=search].placeholder {
  padding-top: 17px;
}
/* line 114, ../sass/layouts/partials/_menu.sass */
#menu-search input[type=submit] {
  display: block;
  width: 16px;
  height: 17px;
  background: transparent url('../images/icons-s76c2ca9fea.png') 0 -117px no-repeat;
  position: absolute;
  z-index: 2;
  right: 18px;
  top: 18px;
  cursor: pointer;
  color: transparent;
  text-indent: -10000px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 114, ../sass/layouts/partials/_menu.sass */
  #menu-search input[type=submit] {
    background-image: url('../images/icons2x-se481caff75.png');
    -webkit-background-size: 85px auto;
    -moz-background-size: 85px auto;
    -o-background-size: 85px auto;
    background-size: 85px auto;
    background-position: 0 -96.5px;
  }
}
