.alignnone
  margin: 5px 20px 20px 0

.aligncenter,
div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right
  margin: 5px 0 $text-line-height $text-line-height
  &.wp-caption
    img
      width: 100%
      height: auto
    .wp-caption-text
      margin-top: 15px
      width: 100%

.alignleft
  float: left
  margin: 5px $text-line-height $text-line-height 0
  &.wp-caption
    img
      width: 100%
      height: auto
    .wp-caption-text
      margin-top: 15px
      width: 100%

.aligncenter
  display: block
  clear: both
  margin: 5px auto 5px auto

a img.alignright
  float: right
  margin: 5px 0 20px 20px

a img.alignnone
  margin: 5px 20px 20px 0

a img.alignleft
  float: left
  margin: 5px 20px 20px 0

a img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto



  

.wp-caption
  margin: 47px 0 41px
  font-size: 0
  width: auto !important
  +at-breakpoint($break-767)
    margin: 37px 0 31px  

.wp-caption img
  margin-bottom: 19px
  width: auto !important

.wp-caption p.wp-caption-text
  font-size: 16px
  line-height: 26px
  font-family: $altis-book-i
  color: $text-color
  margin: 19px 0
  letter-spacing: -0.2px


h4+.wp-caption
  margin-bottom: 60px
  +at-breakpoint($break-767)
    margin-bottom: 40px