ul.two-col
	overflow: hidden
	list-style: none
	margin: 25px 0 -26px -3%
	+at-breakpoint($break-1023)
		margin-left: 0
	&:first-child
		margin-top: 0
	li
		margin-left: 3%
		width: 47%
		float: left
		// margin-bottom: 26px
		+at-breakpoint($break-1023)
			margin-left: 0
			width: 100%
			float: none

ul.three-col
	margin: 24px 0 -26px -3%
	overflow: hidden
	list-style: none
	+at-breakpoint($break-1023)
		margin-left: 0
	&:first-child
		margin-top: 0
	li
		margin-left: 3%
		width: 30.333333%
		float: left
		// margin-bottom: 26px
		+at-breakpoint($break-1023)
			margin-left: 0
			width: 100%
			float: none


ul.four-col
	margin: 17px 0 -26px -2%
	overflow: hidden
	list-style: none
	+at-breakpoint($break-1023)
		margin-left: -3%
	+at-breakpoint($break-767)
		margin-left: 0
	li
		margin-left: 2%
		width: 23%
		float: left
		// margin-bottom: 26px
		+at-breakpoint($break-1023)
			margin-left: 3%
			width: 47%
		+at-breakpoint($break-767)
			margin-left: 0
			width: 100%