.contacts
	margin-top: 54px
	margin-bottom: 87px
	+at-breakpoint($break-479)
		margin-top: 40px
		margin-bottom: 50px
	ul
		list-style: none
		overflow: hidden
		margin-bottom: 67px
		+at-breakpoint($break-479)
			margin-bottom: 35px
		p
			margin-bottom: 0
	li
		width: 50%
		float: left
		padding-right: 26px
		+box-sizing(border-box)
		padding-left: 12px
		+at-breakpoint($break-1023)
			width: 100%
			float: none
			padding-left: 0
			margin-bottom: 20px
		&:first-child
			padding-left: 0
	strong
		font-family: $altis-m
	&>p
		margin-bottom: 30px
	a
		text-decoration: none
		&:hover
			text-decoration: underline
	a[href*="mailto"]
		text-decoration: underline
		&:hover
			text-decoration: none