.event-widget
	.title
		font-family: $altis-book-i
		font-size: 18px
		line-height: 20px
		color: #fff
		display: block
		padding: 14px 20px 16px
		background: $header-color
		position: relative
		margin-bottom: 26px
		text-align: center
		+at-breakpoint($break-767)
			font-size: 16px
			line-height: 18px

		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 50%
			margin-left: -8px
			border-top: 9px solid  $header-color
			border-left: 8px solid transparent
			border-right: 8px solid transparent

.ai1ec-date_1
	background: #fff
	padding: 30px 30px 28px
	position: relative
	margin-bottom: 26px

.ai1ec-date-title_1
	position: absolute
	top: 29px
	right: 30px
	width: 52px
	border: 1px solid  $event-widget-color
	font-family: $altis-m
	color: $header-color
	text-align: center
	background: #fff
.ai1ec-month_1
	font-size: 9px
	line-height: 10px
	text-transform: uppercase
	display: block
	background: $event-widget-color
	padding: 3px 0
	color: $text-color
.ai1ec-day_1
	font-size: 30px
	line-height: 30px
	margin-top: 1px
.ai1ec-weekday_1
	font-size: 10px
	line-height: 12px
	margin-top: 1px
	margin-bottom: 6px

.ai1ec-event-time_1
	font-size: 16px
	line-height: 20px
	font-family: $altis-book
	color: $text-color
	margin-top: 11px
	margin-bottom: 11px
	height: 60px
	overflow: hidden
	padding-right: 60px
	+at-breakpoint($break-767)
		font-size: 14px
		line-height: 18px
		height: 54px

.ai1ec-event-title_1
	font-size: 23px
	line-height: 28px
	font-family: $altis-l
	color: $text-color
	margin-top: 11px
	margin-bottom: 16px
	display: block
	height: 56px
	overflow: hidden
	+at-breakpoint($break-767)
		font-size: 21px
		line-height: 26px
		height: auto
		max-height: 52px
		margin-bottom: 13px
.ai1ec-popup-excerpt_1
	font-size: 18px
	line-height: 24px
	font-family: $altis-l-i
	color: $text-color
	margin-top: 16px
	letter-spacing: -0.3px
	height: 72px
	overflow: hidden
	margin-bottom: 40px
	+at-breakpoint($break-767)
		margin-top: 13px
		font-size: 16px
		line-height: 22px
		height: auto
		max-height: 66px
.less-mer
	font-size: 14px
	text-transform: uppercase
	font-family: $altis-book
	position: absolute
	z-index: 2
	bottom: 25px
	right: 30px
	top: auto
	left: auto
	padding-right: 30px
	display: block
	text-decoration: none
	+at-breakpoint($break-767)
		font-size: 12px
	&:before
		content: ''
		+icon(more)
		position: absolute
		right: 0
		top: 9px
	&:hover
		text-decoration: underline



.ai1ec-event-details_1
	margin-bottom: 20px
	+at-breakpoint($break-767)
		margin-bottom: 15px

.ai1ec-field-label_1
	font-family: $altis-m
	float: left
	margin-right: 30px
	font-size: 20px
	line-height: 20px
	margin-top: -2px
	+at-breakpoint($break-767)
		font-size: 17px
		line-height: 17px
		margin-top: -1px
		margin-right: 20px

.ai1ec-field-value_1
	@extend .ai1ec-event-time_1
	height: auto

.ai1ec-event-avatar_1
	float: left
	margin: 0px 20px 10px 0
	+at-breakpoint($break-767)
		float: none
		width: 100%
	img
		max-width: 100%


.ai1ec-hidden_1
	display: none

.p-description
	overflow: hidden