.gform_wrapper
	font-size: 18px
	line-height: 18px
	font-family: $altis-b
	color: $form-text-color
	margin-top: 73px
	// margin-bottom: 69px
	+at-breakpoint($break-479)
		margin-top: 50px
	ul
		list-style: none
	input
		height: 56px
	input,textarea,input[type=text],input[type=tel],input[type=number],input[type=password],input.large
		position: relative
		border: none
		background: transparent
		width: 92%
		resize: none
		+box-sizing(border-box)
		padding: 20px
		padding-left: 0
		left: 20px
		font-size: 18px
		line-height: 18px
		color: $form-text-color
		font-family: $altis-b
		+appearance(none)
		outline: none
		+placeholder
			font-size: 18px
			color: $form-text-color
			padding-top: 3.5px
		&:-ms-input-placeholder
			padding-top: 18px
		&.placeholder
			padding-top: 20px

	textarea, textarea.textarea
		height: 234px
		padding: 14px 20px
		padding-left: 0
		left: 20px
		line-height: 26px
		overflow: hidden
		+at-breakpoint($break-1024)
			height: 160px
		+at-breakpoint($break-767)
			height: 134px
		+placeholder
			line-height: 18px
		&.placeholder
			padding-top: 14px
	.ginput_container
		position: relative
		z-index: 2
	.button
		@extend .button
		float: right
		left: 0
	.gfield 
		background: $form-bg-color
		border: 1px solid  $form-border-color
		position: relative
		margin-bottom: 22px

	.gform_heading
		font-size: 20px
		color: #010101
		margin-top: -11px
		margin-bottom: 37px
		+at-breakpoint($break-767)
			font-size: 18px
			margin-bottom: 27px
		.gform_title
			font-family: $altis-m
			font-size: 20px
			line-height: 30px
			+at-breakpoint($break-767)
				font-size: 18px
				line-height: 26px
		.gform_description
			line-height: 30px
			font-family: $altis-book

	.gform_footer
		overflow: hidden



