.link-box
	background: $link-box-bg
	height: 250px
	padding: 46px 30px 50px
	+box-sizing(border-box)
	text-align: center
	position: relative
	cursor: pointer
	+box-shadow(0 1px 2px 1px rgba(#000, 0.08))	
	+transition(background 0.5s)
	margin-bottom: 26px
	+at-breakpoint($break-1023)
		height: auto
	+at-breakpoint($break-767)
		padding: 36px 30px 40px
	&:hover
		background: lighten($link-box-bg,10%)
		.more
			text-decoration: underline
	.title
		font-size: 36px
		line-height: 23px
		font-family: $altis-i
		color: #fff
		border-bottom: 3px solid  #fff
		display: inline-block
		padding-bottom: 7px
		margin-bottom: 6px
		+at-breakpoint($break-767)
			font-size: 28px
			line-height: 18px
			margin-bottom: 10px
	p
		font-size: 24px
		line-height: 28px
		color: $text-color
		font-family: $altis-r
		height: 84px
		overflow: hidden
		+at-breakpoint($break-1023)
			height: auto
		+at-breakpoint($break-767)
			font-size: 20px
			line-height: 24px
	&>a
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
	.more
		font-size: 14px
		font-family: $altis-book
		color: #fff
		text-transform: uppercase
		position: absolute
		left: 0
		right: 0
		bottom: 35px
		top: auto
		text-decoration: none
		+at-breakpoint($break-767)
			font-size: 12px
			bottom: 24px