.post
	color: $text-color
	overflow: hidden
	position: relative
	height: 521px
	display: block
	background: #fff
	cursor: pointer
	+transition(opacity 0.5s)
	margin-bottom: 26px
	+box-shadow(0 1px 2px 1px rgba(#000, 0.08))	
	+at-breakpoint($break-1023)
		height: auto
		padding-bottom: 60px

	&:hover
		+opacity(0.8)
		.more
			text-decoration: underline
	.post-shadow
		position: absolute
		z-index: 1
		bottom: 0
		left: 0
		right: 0
		height: 106px
		background: image-url("post-shadow.png") repeat-x
		+at-breakpoint($break-1023)
			display: none

	img
		width: 100%
	.title
		font-size: 26px	
		line-height: 30px
		font-family: $altis-i
		margin: 24px 0 15px
		padding: 0 31px
		+at-breakpoint($break-767)
			font-size: 22px
			line-height: 26px
	p
		display: block
		font-size: 18px
		line-height: 24px
		font-family: $altis-book-i
		padding: 0 31px
		+at-breakpoint($break-767)
			font-size: 14px
			line-height: 19px
	&>a
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 3
	.more
		text-decoration: none
		font-family: $altis-book
		font-size: 14px
		color: $text-color
		text-transform: uppercase
		position: absolute
		z-index: 2
		bottom: 31px
		right: 30px
		top: auto
		left: auto
		padding-right: 30px
		display: block
		+at-breakpoint($break-767)
			font-size: 12px
		&:before
			content: ''
			+icon(more)
			position: absolute
			right: 0
			top: 9px

	&.auto-height
		height: auto
		padding: 1px 0 32px
		.post-shadow
			display: none
		.more
			bottom: 20px



.two-col[data-list-size],
.two-col[data-list-project-size]
	li
		display: none
		&.show
			display: block
		&.left
			float: left
		&.right
			float: right

.three-col
	.post
		height: 440px
		+at-breakpoint($break-1023)
			height: auto
		.title
			margin: 27px 0 11px
			padding: 0 31px 0 29px
		.more
			bottom: 23px

.four-col
	.post
		height: 440px
		+at-breakpoint($break-767)
			height: auto
		.title
			margin: 27px 0 11px
			padding: 0 31px 0 29px
			letter-spacing: 1px
			max-height: 90px
			overflow: hidden
		p
			max-height: 72px
			overflow: hidden
		.more
			bottom: 23px
		.post-shadow
			display: none


