ul.questions
	margin-top: 65px
	margin-bottom: 60px
	border-bottom: 1px solid  $body-bg
	padding-bottom: 35px
	.featured
		background: $featured-question-color
		padding: 63px 51px 33px
		width: 100%
		margin: 56px 0 56px -51px
		+at-breakpoint($break-479)
			padding: 43px 20px 25px
			margin-left: -20px

	li
		list-style: none
	p:first-child
		font-family: $altis-m
		margin-bottom: 11px
	