.quote
	color: $text-color
	text-align: center
	background: #fff
	height: 440px
	position: relative
	// overflow: hidden
	margin-bottom: 26px
	+box-shadow(0 1px 2px 1px rgba(#000, 0.08))
	+transition(opacity 0.5s)
	+at-breakpoint($break-1023)
		height: auto
		padding-bottom: 50px
	&:hover
		+opacity(0.8)
		.more
			text-decoration: underline
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -9px
		border-bottom: 9px solid  $body-bg
		border-left: 9px solid transparent
		border-right: 9px solid transparent
		+box-shadow(0 4px 0px 0px $body-bg)

	.title
		font-size: 14px
		line-height: 18px
		display: inline-block
		padding: 0px 10px 4px
		border-bottom: 1px solid  #bbb
		text-transform: uppercase
		margin: 37px 0 23px
		+at-breakpoint($break-767)
			font-size: 12px
			line-height: 15px

	.more	
		text-decoration: none
		font-family: $altis-book
		font-size: 14px
		text-transform: uppercase
		display: inline-block
		+at-breakpoint($break-767)
			font-size: 12px
	&>a
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 3
	
	blockquote
		line-height: 28px
		margin-top: 0
		margin-bottom: 25px
		+at-breakpoint($break-767)
			margin-bottom: 20px
