.related-articles
	margin-top: 29px
	clear: both
	&>.title
		font-size: 24px
		color: $text-color
		font-family: $altis-i
		letter-spacing: 0.3px
		margin-bottom: 17px
	.post
		.title
			letter-spacing: -0.3px

