.search
	margin-top: 40px
	+at-breakpoint($break-767)
		margin-top: 30px	
	.show-more
		margin-top: 46px
		margin-bottom: -24px
		background: $grey-bg
		+transition(background 0.5s)
		&:hover
			background: darken($grey-bg, 20%)
.search-form
	max-width: 542px
	font-size: 18px
	line-height: 18px
	color: $text-color
	position: relative
	border: 1px solid  $body-bg
	background: #fff	
	input
		+appearance(none)
		border: none
		outline: none
	input[type=search]
		font-size: 18px
		line-height: 18px
		color: $text-color
		max-width: 541px
		width: 85%
		padding: 12px 0px 
		background-color: transparent
		height: 48px
		left: 20px
		+box-sizing(border-box)
		position: relative
		z-index: 2
		+at-breakpoint($break-1023)
			width: 77%
		+at-breakpoint($break-479)
			width: 70%
		&::-ms-clear
			display: none
		&::-webkit-search-cancel-button
			display: none
		+placeholder
			font-size: 18px
			color: $text-color
			padding-top: 0.5px
		&:-ms-input-placeholder
			padding-top: 16px
		&.placeholder
			padding-top: 17px
	input[type=submit]
		+icon(search-black)
		position: absolute
		z-index: 3
		right: 18px
		top: 18px	
		cursor: pointer
		color: transparent

.search-result
	margin-top: 63px
	+at-breakpoint($break-767)
		margin-top: 43px	
	.post
		clear: both
		overflow: hidden
		visibility: hidden
		opacity: 0
		height: 0
		margin-bottom: 0
		+transition(opacity 0.5s linear)
		+box-shadow(none)
		+at-breakpoint($break-1023)
			padding-bottom: 0
		&.show
			visibility: visible
			opacity: 1
			margin-bottom: 26px
			height: auto
			+at-breakpoint($break-1023)
				margin-bottom: 40px
			+at-breakpoint($break-767)
				margin-bottom: 30px

		.title
			height: 30px
			overflow: hidden
			padding: 0 28px 0 0
			margin-bottom: 10px
			+at-breakpoint($break-479)
				height: auto
		p
			height: 72px
			overflow: hidden
			padding: 0 10px 0 0px
			margin-bottom: 43px
			+at-breakpoint($break-767)
				margin-bottom: 35px
		.more
			bottom: 2px
			right: 3px
		img
			float: left
			width: 268px
			+at-breakpoint($break-1023)
				float: none
				width: 100%
			&+.title
				padding: 0 28px
				+at-breakpoint($break-1023)
					padding-left: 0
				&+p
					padding: 0 10px 0 28px
					+at-breakpoint($break-1023)
						padding-left: 0

