.show-more
	display: block
	font-size: 18px
	line-height: 20px
	font-family: $altis-book-i
	color: $text-color
	width: 100%
	+box-sizing(border-box)
	+border-radius(5px)
	padding: 12px 20px 15px
	background: #fff
	margin-top: 25px
	text-decoration: none
	text-align: center
	+transition(opacity 0.5s)
	+at-breakpoint($break-767)
		font-size: 16px
		line-height: 18px
	&:hover
		+opacity(0.8)
	span
		display: none
		&:first-child
			display: block
	&.show-more-open
		span
			display: block
			&:first-child
				display: none