.socials
	position: absolute
	right: 26px
	top: 26px
	+at-breakpoint($break-1023)
		top: 22px
	+at-breakpoint($break-479)
		top: 10px
		right: 20px	

	a
		display: inline-block
		vertical-align: top
		width: 36px
		height: 36px
		+box-sizing(border-box)
		+border-radius(20px)
		border: 1px solid  $socials-border
		color: $socials-color
		font-size: 19px
		text-decoration: none
		outline: none
		position: relative
		margin-left: 4px
		+transition(border-color 0.5s)
		&:before
			position: absolute
			+transition(color 0.5s)
		&:hover
			border-color: darken($socials-border,20%)
			&:before
				color: darken($socials-color,20%)

	.mail
		@extend .icon-mail
		&:before
			top: 8px
			left: 7px
	.facebook
		@extend .icon-facebook
		&:before
			top: 9px
			left: 7px
	.twitter
		@extend .icon-twitter
		&:before
			top: 9px
			left: 8px

.socials-bottom
	top: auto
	bottom: 30px
	+at-breakpoint($break-479)
		bottom: 10px