.video
	position: relative
	img
		width: 100%
		position: relative
		z-index: 2
	a
		text-decoration: none
		display: block
		position: relative
		z-index: 2
	iframe
		position: absolute
		z-index: 1
		width: 100% !important
		height: 100% !important
		top: 0
		left: 0
	&.play
		iframe
			z-index: 4
	&:hover
		.video-play
			text-decoration: underline
		.video-time
			&:after
				content: '  '
				border-left-color: lighten($play-icon-color,20%)

.video-play
	display: block
	position: absolute
	z-index: 3
	right: 0
	bottom: 26px
	height: 70px
	color: $text-color
	font-size: 32px
	line-height: 26px
	font-family: $altis-i
	letter-spacing: 0.5px
	padding: 19px 30px 0 30px
	background: $grey-bg
	cursor: pointer
	+box-sizing(border-box)
	+at-breakpoint($break-1023)
		font-size: 21px
		padding-top: 11px
		height: 50px
	+at-breakpoint($break-479)
		height: auto
		padding-bottom: 11px
		line-height: 22px



.video-time
	float: left
	display: block
	margin: -19px 22px 0 -30px
	background: $header-color
	position: relative
	padding: 20px 72px 0 26px
	+box-sizing(border-box)
	height: 70px
	color: $play-icon-color
	font-size: 30px
	font-family: $altis-book
	+at-breakpoint($break-1023)
		margin-top: -11px
		padding: 12px 50px 0 20px
		height: 50px
		font-size: 21px
	+at-breakpoint($break-479)
		position: absolute
		right: 0
		top: -39px
		margin-right: 0
		line-height: 26px
	&:after
		content: ''
		position: absolute
		right: 24px
		top: 18px
		border-left: 26px solid  $play-icon-color
		border-top: 16px solid transparent
		border-bottom: 16px solid transparent
		+transition(border-left-color 0.5s)
		+at-breakpoint($break-1023)
			border-left: 16px solid  $play-icon-color
			border-top: 10px solid transparent
			border-bottom: 10px solid transparent
			top: 16px
			right: 14px



.post
	.video-play
		font-size: 0
		padding-right: 0
		padding-left: 0
		background: transparent
	.video-time
		float: none
		margin-right: 0
		margin-left: 0
		+at-breakpoint($break-479)
			top: 0
