.widgets-container
	background: $grey-bg
	height: 100%
	position: relative
	padding: 0 26px
	+at-breakpoint($break-479)
		padding: 0 20px
	.widget
		padding: 26px 0
		

.widget
	text-align: center
	color: $text-color
	position: relative
	padding: 0
	&:before
		content: ''
		position: absolute
		top: 0
		width: 80%
		height: 1px
		background: $body-bg
		left: 0
		right: 0
		margin: auto
	&:first-child
		&:before
			display: none
	.title
		font-family: $altis-book-i
		font-size: 18px
		line-height: 20px
		color: #fff
		display: block
		padding: 14px 20px 16px
		background: $header-color
		position: relative
		max-width: 220px
		margin: auto
		margin-bottom: 19px
		+at-breakpoint($break-767)
			font-size: 16px
			line-height: 18px
		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 50%
			margin-left: -8px
			border-top: 9px solid  $header-color
			border-left: 8px solid transparent
			border-right: 8px solid transparent
		&.yellow
			font-family: $altis-i
			font-size: 24px
			color: #f8ab22
			+at-breakpoint($break-767)
				font-size: 20px

	img
		margin: 0 auto 26px
	h3,h4,h5,h6
		font-size: 60px
		line-height: 60px
		text-transform: uppercase
		margin-bottom: 23px
		font-family: $altis-r
		+at-breakpoint($break-767)
			font-size: 55px
			line-height: 55px
			margin-bottom: 20px
	i
		display: block
		font-family: $altis-book-i
		font-size: 18px
		line-height: 24px
		margin-bottom: 9px
		+at-breakpoint($break-767)
			font-size: 16px
			line-height: 22px

	em
		font-family: $altis-l-i
		font-size: 22px
		line-height: 24px
		margin: 6px 0 4px
		display: block
		+at-breakpoint($break-767)
			font-size: 20px
			line-height: 22px
	p
		font-family: $altis-r
		font-size: 19px
		line-height: 24px
		color: #404040
		margin-bottom: 8px
		width: 101%
		margin-left: -0.5%
		+at-breakpoint($break-767)
			font-size: 17px
			line-height: 22px
		span
			text-transform: uppercase
	.separator
		width: 80%
		height: 0px
		margin: 0 auto
		padding: 26px 0
		border: none
		position: relative
		background: transparent
		display: block
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 25px
			left: 0
			right: 0
			width: 100%
			height: 1px
			background: $body-bg
	.title+p
		margin-bottom: 12px
	a
		display: block
		text-align: center
		text-decoration: none
		margin-top: 41px
		margin-bottom: 21px
		&:hover
			span
				&:first-child
					background: lighten($link-box-bg,20%)
					&:after
						border-top-color: lighten($link-box-bg,20%)
		span
			display: block
			position: relative
			font-family: $altis-r
			font-size: 19px
			line-height: 24px
			color: $text-color
			+at-breakpoint($break-767)
				font-size: 17px
				line-height: 22px
			&:first-child
				font-family: $altis-book-i
				font-size: 22px
				line-height: 32px
				background: $link-box-bg
				padding: 8px 10px 10px
				color: #fff				
				max-width: 220px
				margin: auto
				margin-bottom: 12px
				+transition(background 0.5s)
				+at-breakpoint($break-767)
					font-size: 20px
					line-height: 30px
				&:after
					content: ''
					display: block
					width: 0
					height: 0
					border-top: 9px solid  $link-box-bg
					border-left: 8px solid transparent
					border-right: 8px solid transparent
					position: absolute
					bottom: -9px
					left: 50%
					margin-left: -8px
					+transition(border-top-color 0.5s)



	.partners
		margin-top: 25px
		margin-bottom: 8px
		a
			display: inline-block
			margin: 0
		img
			display: inline-block
			vertical-align: middle
			margin: 0 12px 10px
			+transition(opacity 0.5s)
			&:hover
				+opacity(0.6)


